<div class="fs_public_footer">
    <div class="fs_width1420">
        <ul class="fs_footer_flex_ul">
            <li class="fs_footer_flex_li">
                <dl class="fs_footer_flex_dl">
                    <dt>
                        Company
                    </dt>
                    <dd>
                        <a class="fs_footer_a" href="/company/about_us.html">About Us</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/contact_us.html">Contact Us</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/company/why_us.html">Why Us</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="javascript:void(0);" id="click_feedback">Leave Feedback</a>
                    </dd>
                </dl> </li>
            <li class="fs_footer_flex_li">
                <dl class="fs_footer_flex_dl">
                    <dt>
                        Services
                    </dt>
                    <dd>
                        <a class="fs_footer_a" href="/payment_methods.html">Payment Methods</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/shipping_delivery.html">Shipping &amp; Delivery</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/policies/day_return_policy.html">Return Policy</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/policies/warranty.html">Warranty Query</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/policies/net_30.html">Net Terms</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/service/sales_tax.html">Sales Tax</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/index.php?main_page=e_rate">E-rate</a>
                    </dd>
                </dl> </li>
            <li class="fs_footer_flex_li">
                <dl class="fs_footer_flex_dl">
                    <dt>
                        Support
                    </dt>
                    <dd>
                        <a class="fs_footer_a" href="/service/help_center.html">Yogel Support</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/case-studies.html">Case Studies</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/index.php?main_page=products_support">Technical Documents</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="https://www.youtube.com/FiberStore" target="_blank">Video Library</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/solution_support.html">Technical Support</a>
                    </dd>
                </dl> </li>
            <li class="fs_footer_flex_li">
                <dl class="fs_footer_flex_dl">
                    <dt>
                        Shop at Yogel
                    </dt>
                    <dd>
                        <a class="fs_footer_a" href="/new-product.html">New Products</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/clearance.html">Deals</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/request_demo.html">Request Demo</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/sample_application.html">Request Sample</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="/verify.html">Product Verification</a>
                    </dd>
                </dl> </li>
            <li class="fs_footer_flex_li">
                <dl class="fs_footer_flex_dl">
                    <dt>
                        Community
                    </dt>
                    <dd>
                        <a class="fs_footer_a" href="https://community.fs.com/ideas" target="_blank">Ideas</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="https://community.fs.com/blog" target="_blank">Blog</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="https://community.fs.com/insight" target="_blank">Insight</a>
                    </dd>
                    <dd>
                        <a class="fs_footer_a" href="https://community.fs.com/news" target="_blank">What's New</a>
                    </dd>
                </dl> </li>

        </ul>

    </div>
</div>