<script>
$(document).ready(function(){
    var username = '';
    $("#closeLiveChat").bind("click",function () {
        socket.emit("manual-disconnection",socket.id);
        socket.close();
        $(".chattingDisplay").html('');
        $(".infoCollect").show();
        $(".liveChat").hide();
        $("#livechatPanel").hide();
    });

    $("#sendMsg").bind("click",function () {
        var message = $("#msgEnter").val();
        if(message.lenght <= 0){
            return false;
        }else{
            var data = {
                username:username,
                message:message
            }
            socket.emit("message",data);
            var dp = $("<p class='userMessage'>" + username +":"+ message + "</p>");
            $("#chattingDisplay").append(dp);
            $("#msgEnter").val("");
        }
    });



    $("#initChat").bind("click",function () {
        $("#livechatPanel").show();
    });
    $("#startChat").bind("click",function () {
        validation.restoreErrNotice("error_prompt");
        var liveChatName = $("#liveChatName").val(); //required
        username = liveChatName; // give value to global for the further usage
        var liveChatMail = $("#liveChatMail").val();//required
        var liveChatCompany = $("#liveChatCompany").val();
        var liveChatPhone = $("#liveChatPhone").val();
        var liveChatPhoneDep = $("#liveChatPhoneDep").val();
        if(!validation.validateAllEmpty([
            {value:liveChatName,name:'Name',className:'error_prompt_pop_name'},
            {value:liveChatMail,name:'Email',className:'error_prompt_pop_mail'},
        ])){
            return false;
        }else{
            $.ajax({
                url: "/live_chat",
                data: {
                    name:liveChatName,
                    mail:liveChatMail,
                    company:liveChatCompany,
                    phone:liveChatPhone,
                    department:liveChatPhoneDep
                },
                type: "POST",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        $(".infoCollect").hide();
                        $(".liveChat").show();
                        //start socket
                        window.open("/livechat?name="+ username,"mywin","width=400,height=300,screenX=50,left=1050,screenY=50,top=300,status=yes,menubar=yes");
                        $(".infoCollect").show();
                        $(".liveChat").hide();
                        $(".livechatPanel").hide();
                    }
                }
            });
        }
    });

    $("#closeInfoCollect").bind("click",function () {
        $("#livechatPanel").hide();
    });

});
</script>
<style>
    .livechatPanel{
        position: fixed;
        right:0;
        top:10%;
        bottom:50%;
        z-index: 999;
        width:300px;
        height:600px;
        background-color: #fff;
    }
    .chattingDisplay{
        height:300px;
        margin-top:5px;
        padding:20px;
        overflow: auto;
        font-family: "Noto Sans", sans-serif;
        padding-top:40px;
    }
    .livechatPanel_title{
        text-align: center;
        font-size:12px;
        background-color: #0a4c79;
        padding:15px;
        color:#fff;
    }

    .livechatPanel *{
        font-family: "Noto Sans", sans-serif;
    }
    .infoCollect{
        padding:15px;
        font-size:14px;
    }
    .infoCollect input{
        height: 30px;
        width:225px;
        border-radius: 3px;
        border:solid 1px gray;
    }
    .olc{
        font-weight: bolder;
        font-size:14px;
    }
    #liveChatPhoneDep{
        height: 25px;
        border-radius: 3px;
        border:solid 1px gray;
    }
    #startChat{
        width: 230px;
        height:40px;
        line-height: 20px;
        border-radius: 3px;
        border:solid 1px gray;
        background-color: #0a4c79;
        color:#fff;
        cursor: pointer;
        font-size:15px;
        margin-top:15px;
    }
    .msgEnter{
        width:95%;
        height:100px;
        margin-top:5px;
        /*margin-left:5px;*/
        border:solid 1px gray;
        border-radius:3px;
    }
    #sendMsg{
        width: 110px;
        height:40px;
        line-height: 20px;
        border-radius: 3px;
        border:solid 1px gray;
        background-color: #0a4c79;
        color:#fff;
        cursor: pointer;
        font-size:15px;
        position: relative;
        left:5px;
        top:3px;
    }
    .closeInfoCollect{
        position: absolute;
        right:10px;
    }
    .closeLiveChat{
        position: absolute;
        right:10px;
    }
    .admin_return_massage{
        word-wrap:break-word;
    }
    .top{
        background-image: url("images/footerBk.png");
    }
    .top_help_font{
        color:#fff!important;
    }
    .iconfont{
        /*color:#fff!important;*/
    }
</style>


<div class="top">
    <div id="livechatPanel" class="livechatPanel" style="display:none">
        <div class="livechatPanel_title"><h2>Welcome to Yogel</h2></div>
        <div class="infoCollect">
            <a href="#" class="closeInfoCollect" id="closeInfoCollect">close</a>
            <ul>
                <li class="olc"><h3>online chat</h3</li>
                <li><div>Name:</div><div><input id="liveChatName" type="text" /></div><p class="error_prompt error_prompt_pop_name" style="display: none;"></p></li>
                <li><div>E-mail:</div><div><input id="liveChatMail" type="text" /><p class="error_prompt error_prompt_pop_mail" style="display: none;"></p></div></li>
                <li><div>Company:</div><div><input id="liveChatCompany" type="text" /></div></li>
                <li><div>Phone Number:</div><div><input id="liveChatPhone" type="text" /></div></li>
                <li><div>Choose a department:</div>
                    <div>
                        <select id="liveChatPhoneDep">
                            <option>Payment & Order issue (online)</option>
                            <option>Order Status (online)</option>
                            <option>After-Sales Service & RMA (online)</option>
                            <option>Product & Technical Support (online)</option>
                        </select>
                    </div>
                </li>
            </ul>
            <button id="startChat"><b>Start Chat</b></button>
        </div>
        <div class="liveChat" style="display: none">
            <a href="#" id="closeLiveChat" class="closeLiveChat">close</a>
            <div class="chattingDisplay" id="chattingDisplay">

            </div>
            <textarea id="msgEnter" class="msgEnter"></textarea>
            <button id="sendMsg">Send</button>
        </div>

    </div>
    <div class="public_mask" style="top: 111px; height: 2446px; display: none; opacity: 0.833057;"></div>
    <div class="top_main">

        <div class="top_right">
            <div class="top_help">
                <a href="/service/fs_support.html"><span class="icon iconfont" style="color:#fff;"></span><span class="top_help_font">Need Help?</span></a>
                <div class="header_help_more">
                    <div class="header_sign_more_arrow" style="right: 33.5562px;"></div>
                    <div class="header_help_more_main">
                        <div class="header_help_more_main_con livechat">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Live chat with us</h2>
<!--                            <a class="header_help_more_main_con_href" href="javascript:;" onclick="LC_API.open_chat_window();return false;">Live Chat</a>-->
                            <a class="header_help_more_main_con_href" href="javascript:;" id="initChat">Live Chat</a>
                        </div>
                        <div class="header_help_more_main_con email">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Get technical support</h2>
                            <a class="header_help_more_main_con_href more_main_con_href_only" href="/live_chat_mail">Ask an Expert</a>
                        </div>
                        <div class="header_help_more_main_con email">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Send us a message</h2>
                            <a class="header_help_more_main_con_href" href="/live_chat_mail">Email Now</a>
                        </div>
                        <div class="header_help_more_main_con phone">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Want to call?</h2>
                            <p class="header_help_more_main_con_txt">+86 21 64905702</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_right_line"></div>

        </div>
    </div>
</div>