<script>
$(document).ready(function(){
    var username = '';
    $("#closeLiveChat").bind("click",function () {
        socket.emit("manual-disconnection",socket.id);
        socket.close();
        $(".chattingDisplay").html('');
        $(".infoCollect").show();
        $(".liveChat").hide();
        $("#livechatPanel").hide();
    });

    $("#sendMsg").bind("click",function () {
        var message = $("#msgEnter").val();
        if(message.lenght <= 0){
            return false;
        }else{
            var data = {
                username:username,
                message:message
            }
            socket.emit("message",data);
            var dp = $("<p>" + username +":"+ message + "</p>");
            $("#chattingDisplay").append(dp);
            $("#msgEnter").val("");
        }
    });



    $("#initChat").bind("click",function () {
        $("#livechatPanel").show();
    });
    $("#startChat").bind("click",function () {
        var liveChatName = $("#liveChatName").val(); //required
        username = liveChatName; // give value to global for the further usage
        var liveChatMail = $("#liveChatMail").val();//required
        var liveChatCompany = $("#liveChatCompany").val();
        var liveChatPhone = $("#liveChatPhone").val();
        var liveChatPhoneDep = $("#liveChatPhoneDep").val();
        if(!liveChatName||!liveChatMail){
            alert("Please fill the name and mail before chat.");
            return false;
        }else{
            $.ajax({
                url: "/live_chat",
                data: {
                    name:liveChatName,
                    mail:liveChatMail,
                    company:liveChatCompany,
                    phone:liveChatPhone,
                    department:liveChatPhoneDep
                },
                type: "POST",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        $(".infoCollect").hide();
                        $(".liveChat").show();
                        //start socket
                        socket = io.connect('http://localhost:3001');
                        socket.on("connection");
                        socket.emit("userJoin");
                        socket.on("echo",function (data) {
                            const dp = $("<p>" + data + "</p>");
                            $("#chattingDisplay").append(dp);
                            socket.emit("notify_admin",{liveChatName:liveChatName});
                        });
                        socket.on("privateChat_return_user",function (data) {
                            const dp = $("<p>" + data.adminName + ":" + data.message + "</p>");
                            $("#chattingDisplay").append(dp);
                        });
                    }
                }
            });
        }
    });

});
</script>
<style>
    .livechatPanel{
        position: fixed;
        right:0;
        top:20%;
        bottom:50%;
        z-index: 999;
        width:300px;
        height:600px;
        background-color: #fff;
    }
    .chattingDisplay{
        width:100%;
        height:400px;
        overflow: auto;
    }
</style>
<div class="top">
    <div id="livechatPanel" class="livechatPanel" style="display:none">

        <div class="infoCollect">
            <ul>
                <li>online chat</li>
                <li><div>Name</div><div><input id="liveChatName" type="text" /></div></li>
                <li><div>E-mail:</div><div><input id="liveChatMail" type="text" /></div></li>
                <li><div>Company</div><div><input id="liveChatCompany" type="text" /></div></li>
                <li><div>Phone Number</div><div><input id="liveChatPhone" type="text" /></div></li>
                <li><div>Choose a department:</div>
                    <div>
                        <select id="liveChatPhoneDep">
                            <option>Payment & Order issue (online)</option>
                            <option>Order Status (online)</option>
                            <option>After-Sales Service & RMA (online)</option>
                            <option>Product & Technical Support (online)</option>
                        </select>
                    </div>
                </li>
            </ul>
            <button id="startChat">Start Chat</button>
        </div>
        <div class="liveChat" style="display: none">
            <a href="#" id="closeLiveChat" class="closeLiveChat">close</a>
            <div class="chattingDisplay" id="chattingDisplay">

            </div>
            <textarea id="msgEnter" class="msgEnter"></textarea>
            <button id="sendMsg">Send</button>
        </div>

    </div>
    <div class="public_mask" style="top: 111px; height: 2446px; display: none; opacity: 0.833057;"></div>
    <div class="top_main">
        <div class="top_left">
            <span><a href="/company/about_us.html" target="_blank">FS United States</a></span>
            <a class="Policy_window_a01" href="/shipping_delivery.html" title="Free shipping on orders over US$&nbsp;79">Free shipping on orders over US$&nbsp;79</a>
        </div>
        <div class="top_right">
            <div class="top_help">
                <a href="/service/fs_support.html"><span class="icon iconfont"></span><span class="top_help_font">Need Help?</span></a>
                <div class="header_help_more">
                    <div class="header_sign_more_arrow" style="right: 33.5562px;"></div>
                    <div class="header_help_more_main">
                        <div class="header_help_more_main_con livechat">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Live chat with us</h2>
<!--                            <a class="header_help_more_main_con_href" href="javascript:;" onclick="LC_API.open_chat_window();return false;">Live Chat</a>-->
                            <a class="header_help_more_main_con_href" href="javascript:;" id="initChat">Live Chat</a>
                        </div>
                        <div class="header_help_more_main_con email">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Get technical support</h2>
                            <a class="header_help_more_main_con_href more_main_con_href_only" href="/live_chat_mail">Ask an Expert</a>
                        </div>
                        <div class="header_help_more_main_con email">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Send us a message</h2>
                            <a class="header_help_more_main_con_href" href="/live_chat_mail">Email Now</a>
                        </div>
                        <div class="header_help_more_main_con phone">
                            <span class="icon iconfont"></span>
                            <h2 class="header_help_more_main_con_tit">Want to call?</h2>
                            <p class="header_help_more_main_con_txt">+86 21 64905702</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="top_right_line"></div>
            <div class="top_country">
                <span class="top_country_flag us first"></span>
                <span class="top_country_language">United States</span>
                <span class="icon iconfont down_arrow"></span>
                <div class="top_country_more" style="display: none;">
                    <div class="header_sign_more_arrow" style="left: inherit; margin-left: 0px; right: 176.113px;"></div>
                    <div class="top_country_more_main">
                        <h2 class="top_country_more_main_smalltit">Country/Region</h2>
                        <div class="top_country_choose_country active">
                            <em id="current_code" data-class="country_code" class="us"></em>
                            <p class="country_name show">United States</p>
                            <span class="showMore icon iconfont"></span>
                        </div>
                        <div class="top_country_searchCountry" style=" display:block;">
                            <div class="top_country_search_block">
                                <input type="text" class="top_country_search_input" placeholder="Search your country/region" />
                                <!-- <span class="icon iconfont">&#xf081;</span> -->
                            </div>
                            <ul class="top_country_countryList">
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="223" tag_name="United States" data-name="United States"><em class="us"></em>United States</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="222" tag_name="United Kingdom" data-name="United Kingdom"><em class="gb"></em>United Kingdom</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="38" tag_name="Canada" data-name="Canada"><em class="ca"></em>Canada</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="13" tag_name="Australia" data-name="Australia"><em class="au"></em>Australia</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="73" tag_name="France" data-name="France"><em class="fr"></em>France</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="81" tag_name="Germany" data-name="Germany"><em class="de"></em>Germany (Deutschland)</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="195" tag_name="Spain" data-name="Spain"><em class="es"></em>Spain (Espa&ntilde;a)</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="105" tag_name="Italy" data-name="Italy"><em class="it"></em>Italy (Italia)</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="150" tag_name="Netherlands" data-name="Netherlands"><em class="nl"></em>Netherlands</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="176" tag_name="Russian Federation" data-name="Russian Federation"><em class="ru"></em>Russian Federation (Россия)</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="99" tag_name="India" data-name="India"><em class="in"></em>India</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="30" tag_name="Brazil" data-name="Brazil"><em class="br"></em>Brazil</a></li>
                                <li class="unique"><a class="aclass" href="javascript:void(0);" tag="204" tag_name="Switzerland" data-name="Switzerland"><em class="ch"></em>Switzerland</a></li>
                                <div class="divider"></div>
                                <li><a class="aclass" href="javascript:void(0);" tag="1" tag_name="Afghanistan" data-name="Afghanistan"><em class="af"></em>Afghanistan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="240" tag_name="Aland Islands" data-name="Aland Islands"><em class="ax"></em>Aland Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="2" tag_name="Albania" data-name="Albania"><em class="al"></em>Albania</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="3" tag_name="Algeria" data-name="Algeria"><em class="dz"></em>Algeria</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="4" tag_name="American Samoa" data-name="American Samoa"><em class="as"></em>American Samoa</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="5" tag_name="Andorra" data-name="Andorra"><em class="ad"></em>Andorra</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="6" tag_name="Angola" data-name="Angola"><em class="ao"></em>Angola</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="7" tag_name="Anguilla" data-name="Anguilla"><em class="ai"></em>Anguilla</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="8" tag_name="Antarctica" data-name="Antarctica"><em class="aq"></em>Antarctica</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="9" tag_name="Antigua and Barbuda" data-name="Antigua and Barbuda"><em class="ag"></em>Antigua and Barbuda</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="10" tag_name="Argentina" data-name="Argentina"><em class="ar"></em>Argentina</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="11" tag_name="Armenia" data-name="Armenia"><em class="am"></em>Armenia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="12" tag_name="Aruba" data-name="Aruba"><em class="aw"></em>Aruba</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="13" tag_name="Australia" data-name="Australia"><em class="au"></em>Australia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="14" tag_name="Austria" data-name="Austria"><em class="at"></em>Austria</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="15" tag_name="Azerbaijan" data-name="Azerbaijan"><em class="az"></em>Azerbaijan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="16" tag_name="Bahamas" data-name="Bahamas"><em class="bs"></em>Bahamas</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="17" tag_name="Bahrain" data-name="Bahrain"><em class="bh"></em>Bahrain</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="18" tag_name="Bangladesh" data-name="Bangladesh"><em class="bd"></em>Bangladesh</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="19" tag_name="Barbados" data-name="Barbados"><em class="bb"></em>Barbados</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="21" tag_name="Belgium" data-name="Belgium"><em class="be"></em>Belgium</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="22" tag_name="Belize" data-name="Belize"><em class="bz"></em>Belize</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="23" tag_name="Benin" data-name="Benin"><em class="bj"></em>Benin</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="24" tag_name="Bermuda" data-name="Bermuda"><em class="bm"></em>Bermuda</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="25" tag_name="Bhutan" data-name="Bhutan"><em class="bt"></em>Bhutan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="26" tag_name="Bolivia" data-name="Bolivia"><em class="bo"></em>Bolivia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="255" tag_name="Bonaire" data-name="Bonaire"><em class="xb"></em>Bonaire</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="27" tag_name="Bosnia and Herzegovina" data-name="Bosnia and Herzegovina"><em class="ba"></em>Bosnia and Herzegovina</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="28" tag_name="Botswana" data-name="Botswana"><em class="bw"></em>Botswana</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="29" tag_name="Bouvet Island" data-name="Bouvet Island"><em class="bv"></em>Bouvet Island</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="30" tag_name="Brazil" data-name="Brazil"><em class="br"></em>Brazil</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="31" tag_name="British Indian Ocean Territory" data-name="British Indian Ocean Territory"><em class="io"></em>British Indian Ocean Territory</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="32" tag_name="Brunei Darussalam" data-name="Brunei Darussalam"><em class="bn"></em>Brunei Darussalam</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="33" tag_name="Bulgaria" data-name="Bulgaria"><em class="bg"></em>Bulgaria</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="34" tag_name="Burkina Faso" data-name="Burkina Faso"><em class="bf"></em>Burkina Faso</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="36" tag_name="Cambodia" data-name="Cambodia"><em class="kh"></em>Cambodia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="37" tag_name="Cameroon" data-name="Cameroon"><em class="cm"></em>Cameroon</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="38" tag_name="Canada" data-name="Canada"><em class="ca"></em>Canada</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="250" tag_name="Canary Islands" data-name="Canary Islands"><em class="ic"></em>Canary Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="39" tag_name="Cape Verde" data-name="Cape Verde"><em class="cv"></em>Cape Verde</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="40" tag_name="Cayman Islands" data-name="Cayman Islands"><em class="ky"></em>Cayman Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="42" tag_name="Chad" data-name="Chad"><em class="td"></em>Chad</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="43" tag_name="Chile" data-name="Chile"><em class="cl"></em>Chile</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="44" tag_name="China" data-name="China"><em class="cn"></em>China</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="96" tag_name="Hong Kong" data-name="Hong Kong"><em class="hk"></em>Hong Kong</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="125" tag_name="Macao" data-name="Macao"><em class="mo"></em>Macao</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="206" tag_name="Taiwan" data-name="Taiwan"><em class="tw"></em>Taiwan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="45" tag_name="Christmas Island" data-name="Christmas Island"><em class="cx"></em>Christmas Island</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="46" tag_name="Cocos (Keeling) Islands" data-name="Cocos (Keeling) Islands"><em class="cc"></em>Cocos (Keeling) Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="47" tag_name="Colombia" data-name="Colombia"><em class="co"></em>Colombia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="48" tag_name="Comoros" data-name="Comoros"><em class="km"></em>Comoros</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="50" tag_name="Cook Islands" data-name="Cook Islands"><em class="ck"></em>Cook Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="51" tag_name="Costa Rica" data-name="Costa Rica"><em class="cr"></em>Costa Rica</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="52" tag_name="Cote D'Ivoire" data-name="Cote D'Ivoire"><em class="ci"></em>Cote D'Ivoire</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="53" tag_name="Croatia" data-name="Croatia"><em class="hr"></em>Croatia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="256" tag_name="Cura&ccedil;ao" data-name="Cura&ccedil;ao"><em class="xc"></em>Cura&ccedil;ao</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="55" tag_name="Cyprus" data-name="Cyprus"><em class="cy"></em>Cyprus</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="56" tag_name="Czech Republic" data-name="Czech Republic"><em class="cz"></em>Czech Republic</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="57" tag_name="Denmark" data-name="Denmark"><em class="dk"></em>Denmark</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="58" tag_name="Djibouti" data-name="Djibouti"><em class="dj"></em>Djibouti</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="59" tag_name="Dominica" data-name="Dominica"><em class="dm"></em>Dominica</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="60" tag_name="Dominican Republic" data-name="Dominican Republic"><em class="do"></em>Dominican Republic</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="62" tag_name="Ecuador" data-name="Ecuador"><em class="ec"></em>Ecuador</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="63" tag_name="Egypt" data-name="Egypt"><em class="eg"></em>Egypt</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="64" tag_name="El Salvador" data-name="El Salvador"><em class="sv"></em>El Salvador</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="65" tag_name="Equatorial Guinea" data-name="Equatorial Guinea"><em class="gq"></em>Equatorial Guinea</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="66" tag_name="Eritrea" data-name="Eritrea"><em class="er"></em>Eritrea</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="67" tag_name="Estonia" data-name="Estonia"><em class="ee"></em>Estonia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="68" tag_name="Ethiopia" data-name="Ethiopia"><em class="et"></em>Ethiopia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="69" tag_name="Falkland Islands (Malvinas)" data-name="Falkland Islands (Malvinas)"><em class="fk"></em>Falkland Islands (Malvinas)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="70" tag_name="Faroe Islands" data-name="Faroe Islands"><em class="fo"></em>Faroe Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="71" tag_name="Fiji" data-name="Fiji"><em class="fj"></em>Fiji</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="72" tag_name="Finland" data-name="Finland"><em class="fi"></em>Finland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="73" tag_name="France" data-name="France"><em class="fr"></em>France</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="75" tag_name="French Guiana" data-name="French Guiana"><em class="gf"></em>French Guiana</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="76" tag_name="French Polynesia" data-name="French Polynesia"><em class="pf"></em>French Polynesia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="77" tag_name="French Southern Territories" data-name="French Southern Territories"><em class="tf"></em>French Southern Territories</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="78" tag_name="Gabon" data-name="Gabon"><em class="ga"></em>Gabon</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="79" tag_name="Gambia" data-name="Gambia"><em class="gm"></em>Gambia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="80" tag_name="Georgia" data-name="Georgia"><em class="ge"></em>Georgia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="81" tag_name="Germany" data-name="Germany"><em class="de"></em>Germany (Deutschland)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="82" tag_name="Ghana" data-name="Ghana"><em class="gh"></em>Ghana</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="83" tag_name="Gibraltar" data-name="Gibraltar"><em class="gi"></em>Gibraltar</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="84" tag_name="Greece" data-name="Greece"><em class="gr"></em>Greece</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="85" tag_name="Greenland" data-name="Greenland"><em class="gl"></em>Greenland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="86" tag_name="Grenada" data-name="Grenada"><em class="gd"></em>Grenada</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="87" tag_name="Guadeloupe" data-name="Guadeloupe"><em class="gp"></em>Guadeloupe</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="88" tag_name="Guam" data-name="Guam"><em class="gu"></em>Guam</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="89" tag_name="Guatemala" data-name="Guatemala"><em class="gt"></em>Guatemala</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="243" tag_name="Guernsey" data-name="Guernsey"><em class="gg"></em>Guernsey</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="90" tag_name="Guinea" data-name="Guinea"><em class="gn"></em>Guinea</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="91" tag_name="Guinea-bissau" data-name="Guinea-bissau"><em class="gw"></em>Guinea-bissau</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="92" tag_name="Guyana" data-name="Guyana"><em class="gy"></em>Guyana</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="93" tag_name="Haiti" data-name="Haiti"><em class="ht"></em>Haiti</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="94" tag_name="Heard and Mc Donald Islands" data-name="Heard and Mc Donald Islands"><em class="hm"></em>Heard and Mc Donald Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="95" tag_name="Honduras" data-name="Honduras"><em class="hn"></em>Honduras</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="97" tag_name="Hungary" data-name="Hungary"><em class="hu"></em>Hungary</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="98" tag_name="Iceland" data-name="Iceland"><em class="is"></em>Iceland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="99" tag_name="India" data-name="India"><em class="in"></em>India</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="100" tag_name="Indonesia" data-name="Indonesia"><em class="id"></em>Indonesia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="103" tag_name="Ireland" data-name="Ireland"><em class="ie"></em>Ireland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="244" tag_name="Isle of Man" data-name="Isle of Man"><em class="im"></em>Isle of Man</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="104" tag_name="Israel" data-name="Israel"><em class="il"></em>Israel</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="105" tag_name="Italy" data-name="Italy"><em class="it"></em>Italy (Italia)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="106" tag_name="Jamaica" data-name="Jamaica"><em class="jm"></em>Jamaica</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="107" tag_name="Japan" data-name="Japan"><em class="jp"></em>Japan (日本)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="245" tag_name="Jersey" data-name="Jersey"><em class="je"></em>Jersey</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="108" tag_name="Jordan" data-name="Jordan"><em class="jo"></em>Jordan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="109" tag_name="Kazakhstan" data-name="Kazakhstan"><em class="kz"></em>Kazakhstan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="110" tag_name="Kenya" data-name="Kenya"><em class="ke"></em>Kenya</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="111" tag_name="Kiribati" data-name="Kiribati"><em class="ki"></em>Kiribati</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="113" tag_name="Korea, Republic of" data-name="Korea, Republic of"><em class="kr"></em>Korea, Republic of</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="114" tag_name="Kuwait" data-name="Kuwait"><em class="kw"></em>Kuwait</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="115" tag_name="Kyrgyzstan" data-name="Kyrgyzstan"><em class="kg"></em>Kyrgyzstan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="116" tag_name="Lao,P.D.R.L" data-name="Lao,P.D.R.L"><em class="la"></em>Lao,P.D.R.L</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="117" tag_name="Latvia" data-name="Latvia"><em class="lv"></em>Latvia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="119" tag_name="Lesotho" data-name="Lesotho"><em class="ls"></em>Lesotho</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="120" tag_name="Liberia" data-name="Liberia"><em class="lr"></em>Liberia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="122" tag_name="Liechtenstein" data-name="Liechtenstein"><em class="li"></em>Liechtenstein</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="123" tag_name="Lithuania" data-name="Lithuania"><em class="lt"></em>Lithuania</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="124" tag_name="Luxembourg" data-name="Luxembourg"><em class="lu"></em>Luxembourg</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="127" tag_name="Madagascar" data-name="Madagascar"><em class="mg"></em>Madagascar</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="128" tag_name="Malawi" data-name="Malawi"><em class="mw"></em>Malawi</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="129" tag_name="Malaysia" data-name="Malaysia"><em class="my"></em>Malaysia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="130" tag_name="Maldives" data-name="Maldives"><em class="mv"></em>Maldives</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="131" tag_name="Mali" data-name="Mali"><em class="ml"></em>Mali</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="132" tag_name="Malta" data-name="Malta"><em class="mt"></em>Malta</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="133" tag_name="Marshall Islands" data-name="Marshall Islands"><em class="mh"></em>Marshall Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="134" tag_name="Martinique" data-name="Martinique"><em class="mq"></em>Martinique</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="135" tag_name="Mauritania" data-name="Mauritania"><em class="mr"></em>Mauritania</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="136" tag_name="Mauritius" data-name="Mauritius"><em class="mu"></em>Mauritius</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="137" tag_name="Mayotte" data-name="Mayotte"><em class="yt"></em>Mayotte</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="138" tag_name="Mexico" data-name="Mexico"><em class="mx"></em>Mexico (M&eacute;xico)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="139" tag_name="Micronesia,F.S.O.M" data-name="Micronesia,F.S.O.M"><em class="fm"></em>Micronesia,F.S.O.M</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="140" tag_name="Moldova" data-name="Moldova"><em class="md"></em>Moldova</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="141" tag_name="Monaco" data-name="Monaco"><em class="mc"></em>Monaco</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="142" tag_name="Mongolia" data-name="Mongolia"><em class="mn"></em>Mongolia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="242" tag_name="Montenegro" data-name="Montenegro"><em class="me"></em>Montenegro</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="143" tag_name="Montserrat" data-name="Montserrat"><em class="ms"></em>Montserrat</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="144" tag_name="Morocco" data-name="Morocco"><em class="ma"></em>Morocco</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="145" tag_name="Mozambique" data-name="Mozambique"><em class="mz"></em>Mozambique</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="146" tag_name="Myanmar" data-name="Myanmar"><em class="mm"></em>Myanmar</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="147" tag_name="Namibia" data-name="Namibia"><em class="na"></em>Namibia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="148" tag_name="Nauru" data-name="Nauru"><em class="nr"></em>Nauru</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="149" tag_name="Nepal" data-name="Nepal"><em class="np"></em>Nepal</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="150" tag_name="Netherlands" data-name="Netherlands"><em class="nl"></em>Netherlands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="152" tag_name="New Caledonia" data-name="New Caledonia"><em class="nc"></em>New Caledonia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="153" tag_name="New Zealand" data-name="New Zealand"><em class="nz"></em>New Zealand</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="155" tag_name="Niger" data-name="Niger"><em class="ne"></em>Niger</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="156" tag_name="Nigeria" data-name="Nigeria"><em class="ng"></em>Nigeria</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="157" tag_name="Niue" data-name="Niue"><em class="nu"></em>Niue</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="158" tag_name="Norfolk Island" data-name="Norfolk Island"><em class="nf"></em>Norfolk Island</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="159" tag_name="Northern Mariana Islands" data-name="Northern Mariana Islands"><em class="mp"></em>Northern Mariana Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="160" tag_name="Norway" data-name="Norway"><em class="no"></em>Norway</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="161" tag_name="Oman" data-name="Oman"><em class="om"></em>Oman</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="162" tag_name="Pakistan" data-name="Pakistan"><em class="pk"></em>Pakistan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="163" tag_name="Palau" data-name="Palau"><em class="pw"></em>Palau</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="241" tag_name="Palestinian Territory" data-name="Palestinian Territory"><em class="ps"></em>Palestinian Territory</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="164" tag_name="Panama" data-name="Panama"><em class="pa"></em>Panama</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="165" tag_name="Papua New Guinea" data-name="Papua New Guinea"><em class="pg"></em>Papua New Guinea</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="166" tag_name="Paraguay" data-name="Paraguay"><em class="py"></em>Paraguay</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="167" tag_name="Peru" data-name="Peru"><em class="pe"></em>Peru</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="168" tag_name="Philippines" data-name="Philippines"><em class="ph"></em>Philippines</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="169" tag_name="Pitcairn" data-name="Pitcairn"><em class="pn"></em>Pitcairn</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="170" tag_name="Poland" data-name="Poland"><em class="pl"></em>Poland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="171" tag_name="Portugal" data-name="Portugal"><em class="pt"></em>Portugal</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="172" tag_name="Puerto Rico" data-name="Puerto Rico"><em class="pr"></em>Puerto Rico</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="173" tag_name="Qatar" data-name="Qatar"><em class="qa"></em>Qatar</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="174" tag_name="Reunion" data-name="Reunion"><em class="re"></em>Reunion</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="175" tag_name="Romania" data-name="Romania"><em class="ro"></em>Romania</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="176" tag_name="Russian Federation" data-name="Russian Federation"><em class="ru"></em>Russian Federation (Россия)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="177" tag_name="Rwanda" data-name="Rwanda"><em class="rw"></em>Rwanda</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="258" tag_name="Saba" data-name="Saba"><em class="bq"></em>Saba</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="178" tag_name="Saint Kitts and Nevis" data-name="Saint Kitts and Nevis"><em class="kn"></em>Saint Kitts and Nevis</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="179" tag_name="Saint Lucia" data-name="Saint Lucia"><em class="lc"></em>Saint Lucia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="180" tag_name="Saint Vincent and the Grenadines" data-name="Saint Vincent and the Grenadines"><em class="vc"></em>Saint Vincent and the Grenadines</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="181" tag_name="Samoa" data-name="Samoa"><em class="ws"></em>Samoa</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="182" tag_name="San Marino" data-name="San Marino"><em class="sm"></em>San Marino</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="183" tag_name="Sao Tome and Principe" data-name="Sao Tome and Principe"><em class="st"></em>Sao Tome and Principe</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="184" tag_name="Saudi Arabia" data-name="Saudi Arabia"><em class="sa"></em>Saudi Arabia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="185" tag_name="Senegal" data-name="Senegal"><em class="sn"></em>Senegal</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="236" tag_name="Serbia" data-name="Serbia"><em class="rs"></em>Serbia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="186" tag_name="Seychelles" data-name="Seychelles"><em class="sc"></em>Seychelles</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="187" tag_name="Sierra Leone" data-name="Sierra Leone"><em class="sl"></em>Sierra Leone</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="188" tag_name="Singapore" data-name="Singapore"><em class="sg"></em>Singapore</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="259" tag_name="Sint Eustatius" data-name="Sint Eustatius"><em class="xe"></em>Sint Eustatius</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="257" tag_name="Sint-Maarten" data-name="Sint-Maarten"><em class="xm"></em>Sint-Maarten</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="189" tag_name="Slovakia (Slovak Republic)" data-name="Slovakia (Slovak Republic)"><em class="sk"></em>Slovakia (Slovak Republic)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="190" tag_name="Slovenia" data-name="Slovenia"><em class="si"></em>Slovenia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="191" tag_name="Solomon Islands" data-name="Solomon Islands"><em class="sb"></em>Solomon Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="193" tag_name="South Africa" data-name="South Africa"><em class="za"></em>South Africa</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="194" tag_name="South Georgia &amp; T.S.S.I" data-name="South Georgia &amp; T.S.S.I"><em class="gs"></em>South Georgia &amp; T.S.S.I</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="195" tag_name="Spain" data-name="Spain"><em class="es"></em>Spain (Espa&ntilde;a)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="196" tag_name="Sri Lanka" data-name="Sri Lanka"><em class="lk"></em>Sri Lanka</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="253" tag_name="St. Barthelemy" data-name="St. Barthelemy"><em class="bl"></em>St. Barthelemy</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="197" tag_name="St. Helena" data-name="St. Helena"><em class="sh"></em>St. Helena</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="254" tag_name="St. Martin" data-name="St. Martin"><em class="mf"></em>St. Martin</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="198" tag_name="St. Pierre and Miquelon" data-name="St. Pierre and Miquelon"><em class="pm"></em>St. Pierre and Miquelon</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="200" tag_name="Suriname" data-name="Suriname"><em class="sr"></em>Suriname</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="201" tag_name="Svalbard &amp; J.M.I" data-name="Svalbard &amp; J.M.I"><em class="sj"></em>Svalbard &amp; J.M.I</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="202" tag_name="Swaziland" data-name="Swaziland"><em class="sz"></em>Swaziland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="203" tag_name="Sweden" data-name="Sweden"><em class="se"></em>Sweden</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="204" tag_name="Switzerland" data-name="Switzerland"><em class="ch"></em>Switzerland</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="207" tag_name="Tajikistan" data-name="Tajikistan"><em class="tj"></em>Tajikistan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="208" tag_name="Tanzania,U.R.O.T" data-name="Tanzania,U.R.O.T"><em class="tz"></em>Tanzania,U.R.O.T</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="209" tag_name="Thailand" data-name="Thailand"><em class="th"></em>Thailand</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="252" tag_name="The Republic of Congo" data-name="The Republic of Congo"><em class="cg"></em>The Republic of Congo</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="126" tag_name="The Republic of North Macedonia" data-name="The Republic of North Macedonia"><em class="mk"></em>The Republic of North Macedonia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="61" tag_name="Timor-Leste" data-name="Timor-Leste"><em class="tl"></em>Timor-Leste</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="210" tag_name="Togo" data-name="Togo"><em class="tg"></em>Togo</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="211" tag_name="Tokelau" data-name="Tokelau"><em class="tk"></em>Tokelau</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="212" tag_name="Tonga" data-name="Tonga"><em class="to"></em>Tonga</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="213" tag_name="Trinidad and Tobago" data-name="Trinidad and Tobago"><em class="tt"></em>Trinidad and Tobago</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="214" tag_name="Tunisia" data-name="Tunisia"><em class="tn"></em>Tunisia</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="215" tag_name="Turkey" data-name="Turkey"><em class="tr"></em>Turkey</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="216" tag_name="Turkmenistan" data-name="Turkmenistan"><em class="tm"></em>Turkmenistan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="217" tag_name="Turks &amp; Caicos Islands" data-name="Turks &amp; Caicos Islands"><em class="tc"></em>Turks &amp; Caicos Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="218" tag_name="Tuvalu" data-name="Tuvalu"><em class="tv"></em>Tuvalu</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="219" tag_name="Uganda" data-name="Uganda"><em class="ug"></em>Uganda</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="220" tag_name="Ukraine" data-name="Ukraine"><em class="ua"></em>Ukraine</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="221" tag_name="United Arab Emirates" data-name="United Arab Emirates"><em class="ae"></em>United Arab Emirates</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="222" tag_name="United Kingdom" data-name="United Kingdom"><em class="gb"></em>United Kingdom</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="223" tag_name="United States" data-name="United States"><em class="us"></em>United States</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="225" tag_name="Uruguay" data-name="Uruguay"><em class="uy"></em>Uruguay</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="226" tag_name="Uzbekistan" data-name="Uzbekistan"><em class="uz"></em>Uzbekistan</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="227" tag_name="Vanuatu" data-name="Vanuatu"><em class="vu"></em>Vanuatu</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="228" tag_name="Vatican City State (Holy See)" data-name="Vatican City State (Holy See)"><em class="va"></em>Vatican City State (Holy See)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="230" tag_name="Vietnam" data-name="Vietnam"><em class="vn"></em>Vietnam</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="231" tag_name="Virgin Islands (British)" data-name="Virgin Islands (British)"><em class="vg"></em>Virgin Islands (British)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="232" tag_name="Virgin Islands (U.S.)" data-name="Virgin Islands (U.S.)"><em class="vi"></em>Virgin Islands (U.S.)</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="233" tag_name="Wallis and Futuna Islands" data-name="Wallis and Futuna Islands"><em class="wf"></em>Wallis and Futuna Islands</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="234" tag_name="Western Sahara" data-name="Western Sahara"><em class="eh"></em>Western Sahara</a></li>
                                <li><a class="aclass" href="javascript:void(0);" tag="238" tag_name="Zambia" data-name="Zambia"><em class="zm"></em>Zambia</a></li>
                            </ul>
                        </div>
                        <h2 class="top_country_more_main_smalltit">Language/Currency</h2>
                        <div class="top_country_choose_currency">
                            <p class="top_country_choose_currency_name"> <span data-country="en" data-currency="USD">English</span> / <em>$ USD</em></p>
                            <span class="showMore icon iconfont"></span>
                        </div>
                        <div class="top_country_choose_currency_choose">
                            <ul class="top_country_choose_currency_choose_ul">
                                <li><span data-country="en" data-currency="USD">English</span> / <em>$ USD </em></li>
                            </ul>
                        </div>
                        <div class="top_country_more_main_save_fa">
                            <div class="top_country_more_main_save_fa_son"></div>
                            <a class="top_country_more_main_save" href="javascript:;" onclick="news_choose_country_second('en',0)">Save</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>