<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://<%=host%>:3001/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>

    <title>首页用户聊天框</title>

    <script>
        var sks = [];
        var userSocketIdArr = [];
        function seLc(o) {
            var i = $(o).parent(".lcWrap").index();
            var userMsg = $(o).prev(".lcText").val();
            // alert(userMsg);
            // alert(sks.length);
            // alert(i);
            // alert(userSocketIdArr[i]);
            // return false;
            sks[i].emit("adminLcInstance", {
                userSocketId:userSocketIdArr[i],
                msg:userMsg
            });
        }
    </script>

<script>
$(document).ready(function () {

const host = '<%= host %>';
const socket = io.connect("http://"+ host + ":3001");
// socket = io.connect('http://47.107.184.56:3001');
socket.on("connection");
socket.emit("adminLandingLc",{msg:"Yogel"});



socket.on("lcInstance",function (data) {
    //a new user is on home page, set a new socket instance and html panel to chat
    // alert(data.msg);
    const msg = data.msg;
    const userSocketId = data.userSocketId;
    LcInstance(msg, userSocketId);
    
});


function LcInstance(msg, userSocketId) {
    // alert(msg);
    // alert(userSocketId)
    var socket = io.connect("http://"+ host + ":3001");
    socket.on("connection");

    socket.on("alc",function (data) {
        alert(data.msg);
    });

    sks.push(socket);
    userSocketIdArr.push(userSocketId);

    // socket.emit("adminLcInstance", {
    //     userSocketId:userSocketId
    // });
    const h = $("<div class='lcWrap'>"+
        "<textarea class='lcText'></textarea>"+
        "<button class='lcBtn' onclick='seLc(this);'>发送</button>"+

        "<div/> ");
    h.appendTo($("#chatPanel"));


}









})
</script>
</head>
<body>
    <div id="chatPanel">

    </div>
    <!-- <div>
        <textarea id='indexLc'></textarea>
        <button id="SendMsg">发送</button>
    </div> -->
</body>
</html>