<!DOCTYPE html>
<html>
<head>
    <title>YOGEL</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
	<script type="text/javascript"  src="javascripts/utility_fte.js"></script>

</head>
<link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 
<style>@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2);src:local('Open Sans'),local('OpenSans'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-light-webfont.woff2) format('woff2');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('opensans semibold webfont'),local('opensans-semibold-webfont'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-semibold-webfont.woff2) format('woff2');font-display: swap}    </style>
<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/css1.css" />
<link rel="stylesheet" href="../stylesheets/backstage.css" />
<link rel="stylesheet" href="../stylesheets/login_register.css" />
<link rel="stylesheet" href="../stylesheets/styles_cn__ltr.css" />

<link rel="stylesheet" href="../stylesheets/jquery-ui.css">
<script src="../javascripts/jquery-ui.js"></script>
<link rel="stylesheet" href="../stylesheets/jstyle.css">

<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<script>
   $(document).ready(function(){


	   $(".navSelect").mouseover(function(e){
		   e.stopPropagation();
		   var index = $(e.target).attr("navSelect");
		   if(index == undefined){
			   return;
		   }
		   if(index == 1){
			   $.each($("dl.header_list_more_ul_main_all_con"), function(i, v){
				   if($(v).attr("parentID") == 1){
					   $(v).removeClass("myHidden");
				   }
			   });
		   }
	   });

	   utility_fte.initHeaderBav();
	   $("#submit_login").bind("click",function(e){
		   var email_login = $.trim($("#email_login").val());
		   var password_login = $.trim($("#password_login").val());
		   $.ajax({
			   url: "/user_login",
			   data: {
				   email_login:email_login,
				   password_login:password_login
			   },
			   type: "POST",
			   dataType: "json",
			   success: function (d) {
				   if(d.code == 0){
					   alert("user does't exist");
				   }else if(d.code == 1){
					   alert("wrong password");
				   }
				   else if(d.code == 2){
					   alert("signin success");
					   window.location.href="/";
				   }
			   }
		   });
	   });
      
   })
</script>
<!--top-->
<%- include('partials/top.ejs') %>


<div class="lr_box">
	<div class="lr_main after" id="reason_block">
		<div class="lr_left">
			<div class="lr_logo">
				<a href="https://www.fs.com/">
				</a>
				<span class="lr_logo_line">
				</span>
				<h2 class="lr_main_tit" id="lr_log_tit">
					Sign in
				</h2>
			</div>
			<div class="lr_left_main">
				<p class="tishi_02 display_none" id="server_tip">
					<i class="iconfont icon">
						
					</i>
					<span>
					</span>
				</p>
				<div id="form_login">
					<input type="hidden" name="securityToken" value="ca3a902089c55764d728edcaddcb901b">
					<div class="input_block">
						<h2 class="lr_left_main_tit email_tit">
							Email Address
						</h2>
						<input type="text" class="lr_ipt error" onkeyup="this.value=this.value.replace(/[, ]/g,'')"
						id="email_login" value="" name="email" aria-invalid="true">
						<!-- <p class="error_prompt" style="display: block;">
							<label id="email_login-error" class="error" for="email_login">
								Please enter your email address.
							</label>
						</p> -->
					</div>
					<h2 class="lr_left_main_tit">
						Password
						<a href="https://www.fs.com/index.php?main_page=password_forgotten" class="cnp_retrieve_txt01">
							Forgot password?
						</a>
					</h2>
					<div class="lr_password input_block">
						<input type="password" id="password_login" name="password" autocomplete="off"
						value="" class="lr_ipt error" aria-invalid="true">
						<!-- <p class="error_prompt" style="display: block;">
							<label id="password_login-error" class="error" for="password_login">
								Please enter your password.
							</label>
						</p> -->
						<span class="lr_password_show_hide" id="show_hide_pwd">
							show
						</span>
					</div>
					<div class="lr-character-group " id="validate_div">
						<h2 class="lr_left_main_tit">
							Enter the character you see
						</h2>
						<div class="lr-character-wrap after input_block">
							<div class="lr-character-ipt">
								<input type="text" class="lr_ipt valid" name="validate" id="validate">
							</div>
							<div class="lr-character-panel">
								<span class="lr-character-img">
									<img src="https://www.fs.com/index.php?main_page=captcha" align="absbottom"
									onclick="refresh_code();" id="validecode_image" ondragstart="return false;">
								</span>
								<span class="lr-character-btn icon iconfont" onclick="refresh_code()">
									
								</span>
							</div>
							<p class="error_prompt" style="display: none;">
							</p>
						</div>
					</div>
	
					<input type="hidden" class="lr_ipt valid" name="google_aliyun_verify"
					id="google_aliyun_verify" value="">
					<p class="error_prompt_graph" id="graph_validate_error" style="display: none;color: #c00000;">
						Please follow the prompts to complete the verify.
					</p>
					<!-- end-->
					<div class="login-guest-btnBox">
						<button class="lr_submit" id="submit_login">
							Sign in
						</button>
					</div>
					<!-- @notes: 登录页面添加remember me和气泡-->
					<!-- @author: potato.liu-->
					<!-- @date: 2019年7月3日10:41:36-->
					<!-- start-->
					<div class="rem_container">
						<input type="checkbox" name="rememberMe" value="" id="rememberMe">
						<span class="fl">
							<i class="iconfont icon">
								
							</i>
							Keep me signed in
						</span>
					</div>
					<div class="new-soluSupt-upload-prompt">
						<span class="iconfont icon">
							
						</span>
						<div class="new-soluSupt-prompt-content">
							<div class="new-soluSupt-prompt-arrow">
							</div>
							<p>
								To keep your account secure, use this
							</p>
							<p>
								option only on your personal devices.
							</p>
						</div>
					</div>
				</div>
				<!-- <div class="login_other_ways">
					<h2 class="login_other_ways_tit">
						<span>
							or sign in with
						</span>
						<i>
						</i>
					</h2>
					<div class="login_other_ways_way">
						<a href="/social_media/google.php" title="Sign in with google" class="icon iconfont">
							
						</a>
						<a href="/social_media/paypal.php" title="Sign in with Paypal" class="icon iconfont">
							
						</a>
						<a href="/social_media/facebook.php" title="Sign in with Facebook" class="icon iconfont">
							
						</a>
						<a href="/social_media/linkedin.php" title="Sign in with Linkedin" class="icon iconfont">
							
						</a>
					</div>
				</div> -->
			</div>
		</div>
		<div class="lr_right">
			<h2 class="lr_right_tit">
				Benefits of FS Account
			</h2>
			<div class="lr_right_main">
				<ul class="lr_right_main_ul">
					<li>
						<div class="lr_right_main_pic">
							<img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register01.svg"
							alt="">
						</div>
						<p class="lr_right_main_font">
							Checkout quickly and easily
						</p>
					</li>
					<li>
						<div class="lr_right_main_pic">
							<img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register02.svg"
							alt="">
						</div>
						<p class="lr_right_main_font">
							View order history and track shipping status
						</p>
					</li>
				</ul>
				<ul class="lr_right_main_ul">
					<li>
						<div class="lr_right_main_pic">
							<img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register04.svg"
							alt="">
						</div>
						<p class="lr_right_main_font">
							Get quotes or submit a purchase order efficiently
						</p>
					</li>
					<li>
						<div class="lr_right_main_pic">
							<img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register03.svg"
							alt="">
						</div>
						<p class="lr_right_main_font">
							Get technical support and solution design
						</p>
					</li>
				</ul>
				<p class="lr_right_main_href">
					Sign in to FS or
					<a href="https://www.fs.com/regist.html">
						Create an account
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="cnp_main cnp_main01" id="form_block" style="display: none">
		<div class="lr_main after" id="lr_third_resetbox">
			<div class="lr_left">
				<div class="lr_left_main">
					<div class="lr_third_tit">
						Please enter the email address for your FS account &amp; we’ll email you
						a link to reset your password.
					</div>
					<div class="input_block lr_third_inputBox">
						<h2 class="lr_left_main_tit email_tit">
							FS Email
						</h2>
						<input type="text" class="lr_ipt" id="loginEmailAddress" name="email_address"
						value="">
						<p class="error_prompt" style="display: none;" id="forgotten_password">
							Please enter your email address
						</p>
					</div>
					<div class="login-guest-btnBox login-third-btnBox">
						<button type="submit" class="lr_submit" id="submit_submit">
							Submit
						</button>
					</div>
				</div>
			</div>
			<div class="lr_right">
				<h2 class="lr_thirdMain_tit">
					You can also:
				</h2>
				<p class="lr_thirdRt_txt">
					<a href="https://www.fs.com/regist.html">
						Create a new account
					</a>
				</p>
				<p class="lr_thirdRt_txt">
					<a href="https://www.fs.com/contact_us.html">
						Contact Us
					</a>
				</p>
			</div>
		</div>
	</div>
	<div class="lr_footer">
		<p class="lr_footer_font">
			Copyright © 2009-2021 FS.COM Inc. All Rights Reserved.
			<br>
			<a href="/policies/terms_of_use.html">
				Terms of Use
			</a>
			<span>
				|
			</span>
			<a href="/policies/privacy_policy.html">
				Privacy Policy
			</a>
		</p>
		<br>
		<p class="lr_footer_font">
			Need help?&nbsp;
		</p>
		<p class="lr_footer_font_new">
			<a href="/contact_us.html" target="_blank">
				Contact Customer Support.
			</a>
		</p>
		<div class="lr_footer_pic">
			<a href="javascript:;" style="margin-left:10px;" onclick="javascript:window.open('https://www.mcafeesecure.com/verify?host=www.fs.com', 'SealVerification', 'width=568,height=546,left=0,top=0,toolbar=no,location=yes,scrollbars=yes,status=yes,resizable=yes,fullscreen=no');">
				<img src="https://img-en.fs.com/includes/templates/fiberstore/images/new-pc-img/McAfee.png"
				alt="">
			</a>
			<div id="DigiCertClickID_vyT8OdM__1" data-language="en">
				<div id="DigiCertClickID_vyT8OdM_Seal" style="text-decoration: none; text-align: center; display: block; vertical-align: baseline; font-size: 100%; font-style: normal; text-indent: 0px; line-height: 1; width: auto; margin: 0px auto; padding: 0px; border: 0px; background: transparent; position: relative; inset: 0px; clear: both; float: none; cursor: default;">
					<img src="//seal.digicert.com/seals/cascade/?tag=vyT8OdM_&amp;referer=www.fs.com&amp;lang=en&amp;format=png&amp;seal_number=15&amp;seal_size=m&amp;an=min"
					alt="DigiCert Seal" tabindex="0" style="text-decoration: none; text-align: center; display: block; vertical-align: baseline; font-size: 100%; font-style: normal; text-indent: 0px; line-height: 1; width: auto; margin: 0px auto; padding: 0px; border: 0px; background: transparent; position: relative; inset: 0px; clear: both; float: none; cursor: pointer;">
				</div>
			</div>
		</div>
	</div>
	
</div>

</div>
<div id="dialog-message" title="下载完成">
	<p>
	  <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
	  您的文件已经成功下载到文件夹中。
	</p>
	<p>
	  当前使用存储空间的 <b>36%</b>。
	</p>
  </div>
<script type="text/javascript" src="javascripts/footer.js"></script>
<script>
	$( "#dialog-message" ).dialog({
		modal: true,
		buttons: {
			Ok: function() {
				$( this ).dialog( "close" );
			}
		}
	});
</script>
<!--footer-->
<%- include('partials/footer.ejs') %>

</body>
</html>