<!DOCTYPE html>
<html>
<head>
    <title>YOGEL</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="javascripts/utility_fte.js"></script>
</head>
<link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 

<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/css1.css" />
<link rel="stylesheet" href="../stylesheets/backstage.css" />
<link rel="stylesheet" href="../stylesheets/login_register.css" />
<link rel="stylesheet" href="../stylesheets/styles_cn__ltr.css" />

<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<script>
   $(document).ready(function(){
     
      $("#submit_regist").bind("click", function(e){
      
        var firsrtname_regist = $.trim($("#firstname_regist").val());
        var lastname_regist = $.trim($("#lastname_regist").val());
        var email_regist = $.trim($("#email_regist").val());
        var password_regist = $.trim($("#password_regist").val());
        var phone_regist = $.trim($("#telephone_regist").val());
        var company_regist = $.trim($("#company_regist").val());// could be null
        
        $.ajax({
                url: "/user_regist",
                data: {
                  firsrtname_regist:firsrtname_regist,
                  lastname_regist:lastname_regist,
                  email_regist:email_regist,
                  password_regist:password_regist,
                  phone_regist:phone_regist,
                  company_regist:company_regist,
                },
                type: "POST",
                dataType: "json",
                success: function (d) {
                  if(d.isRegistSuccess == 1){
                    alert("register succuess");
                    window.location.href="/";
                  }

                }
            });
      });
       utility_fte.initHeaderBav();
   })
</script>
<!--top-->
<%- include('partials/top.ejs') %>

<div class="lr_box">
    <div class="lr_main after">
        <div class="lr_left">
            <div class="lr_logo">
                <a href="https://www.fs.com/"></a>
                <span class="lr_logo_line"></span>
                <h2 class="lr_main_tit register">Create an account</h2>
            </div>
            <div class="lr_left_main">
                <p class="tishi_02 display_none" id="server_tip"><span></span></p>
                <div id="form_regist" name="form_regist" method="post" novalidate="novalidate">
                    <input type="hidden" name="securityToken" value="33b0efbf2ef9c41f1a4f3e3d9c9e9690">                    <div class="lr_left_main_name input-block">
                        <div class="lr_left_main_name_firstname">
                            <h2 class="lr_left_main_tit">First Name</h2>
                            <input type="text" class="lr_ipt" id="firstname_regist" name="firstname">
							<p class="error_prompt firstname_regist_error_prompt" style="display: none;"></p>
                        </div>
                        <div class="lr_left_main_name_lastname">
                            <h2 class="lr_left_main_tit">Last Name</h2>
                            <input type="text" class="lr_ipt" id="lastname_regist" name="lastname">
							<p class="error_prompt lastname_regist_error_prompt" style="display: none;"></p>
                        </div>
                    </div>
                    <div class="input-block">
                        <h2 class="lr_left_main_tit">Email Address</h2>
                        <input type="text" class="lr_ipt" onkeyup="this.value=this.value.replace(/[, ]/g,'')" name="email" id="email_regist" value="">
                        <p class="error_prompt" style="display: none;"></p>
                    </div>
                    <h2 class="lr_left_main_tit">Password</h2>
                    <div class="lr_password input-block">
                        <input type="password" class="lr_ipt" autocomplete="off" name="password" id="password_regist">
                        <p class="error_prompt" style="display: none;"></p>
                        <span class="lr_password_show_hide" id="show_hide_pwd">show</span>
                    </div>
            
                    <h2 class="lr_left_main_tit">Phone Number</h2>
                    <div class="input-block" style="position: relative">
                        <span id="tel_prefix_phone_regist">+1</span>
                        <input type="text" class="lr_ipt" name="phone_number" id="telephone_regist" value="">
                        <p class="error_prompt" style="display: none;"></p>
                    </div>
                    <div class="input-block">
                        <h2 class="lr_left_main_tit">Company Name                            <span style="color: #8D8D8F">
                         </span></h2>
                        <input type="text" class="lr_ipt" name="customers_company" id="company_regist" value="">
                        <p class="error_prompt" style="display: none;"></p>
                    </div>



                    <div class="input-block rem_container_privacy_policy">
                        <span class="fl fl_privacy_policy">
                            <i class="iconfont icon active"></i>
                             I agree to YOGEL's <a href="https://www.fs.com/policies/privacy_policy.html" target="_blank">Privacy Policy</a> and <a href="https://www.fs.com/policies/terms_of_use.html" target="_blank">Terms of Use</a>.						</span>
                        <input type="checkbox" style="position:absolute; height:0; width:0; border:0;" name="privacy_policy" value="1" id="privacy_policy" checked="">
                        <p class="error_prompt" id="privacy_policy_error_prompt" style="display: none;"></p>
                    </div>

                    <input type="hidden" name="from" id="from_regist" value="">
                    <div class="register-submit-box">
                        <button class="lr_submit g-recaptcha"  id="submit_regist" >Create an account</button>
                    </div>

                  </div>
            </div>
        </div>
        <div class="lr_right">
            <h2 class="lr_right_tit">Benefits of FS Account</h2>
            <div class="lr_right_main">
                <ul class="lr_right_main_ul">
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register01.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">Checkout quickly and easily</p>
                    </li>
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register02.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">View order history and track shipping status</p>
                    </li>
                </ul>
                <ul class="lr_right_main_ul">
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register04.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">Get quotes or submit a purchase order efficiently</p>
                    </li>
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register03.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">Get technical support and solution design</p>
                    </li>
                </ul>
                <p class="lr_right_main_href">
                    Already have an account? <a href="/login">Sign in</a></p>
            </div>

            <!--<p class="lr_right_font small"></p>
            <a class="lr_right_href small" href="" ></a>-->
        </div>
    </div>
    <div class="lr_footer">
 
    <p class="lr_footer_font">
        Need help?&nbsp;
    </p><p class="lr_footer_font_new">
        <a href="/contact_us.html" target="_blank">Contact Customer Support.</a>
    </p>

    </div>
</div>

</div>
<script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->
<%- include('partials/footer.ejs') %>
</body>
</html>