<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>产品更新</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <script type="text/javascript" src="javascripts/jquery.min.js"></script>

    <link rel="stylesheet" href="../stylesheets/main.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>

        .s1{

            display: inline-block;
            width:190px;
        }
        .s2{
            width:200px;
            display: inline!important;
        }
        .s3{
            /*
              微调
            */
            position: relative;
            bottom: 25px;
        }
        .s5{
            border-bottom:solid 1px gray;
            padding-bottom: 10px;
        }
        .s6{
            margin-top:25px!important;
        }
        .notification_container{

        }
        .update-gap{
            margin-top:5px;
        }



        .adminChattingDisplay{
            height:400px;
            border: solid 1px gray;
            overflow: auto;
            padding:10px;
        }
        .livechat{
            width:100%;

        }
        .ls{
            width: 50%;
            height:150px;
            margin-top:1px;
            border: solid 1px grey;

        }
        .sm{
            width:100px;
            height:40px;
            background-color: #0a4c79;
            color:#fff;
            position:relative;
            bottom:15px;
            cursor: pointer;
        }
        .notification_container{

        }
        .admin_echo_pop{
            display: none;
        }
        .admin_echo_close{
            display: none;
        }


        .endChatting{
            width:100px;
            height:40px;
            background-color:#981a38;
            color:#fff;
            position:relative;
            bottom:15px;
            cursor: pointer;
        }
        .chatting_inactive{
            background-color: grey;
        }

        body
        {
            background: #000e29;
        }

        .alert>.start-icon {
            margin-right: 0;
            min-width: 20px;
            text-align: center;
        }

        .alert>.start-icon {
            margin-right: 5px;
        }

        .greencross
        {
            font-size:18px;
            color: #25ff0b;
            text-shadow: none;
        }

        .alert-simple.alert-success
        {
            border: 1px solid rgba(36, 241, 6, 0.46);
            background-color: rgba(7, 149, 66, 0.12156862745098039);
            box-shadow: 0px 0px 2px #259c08;
            color: #0ad406;
            text-shadow: 2px 1px #00040a;
            transition:0.5s;
            cursor:pointer;
        }
        .alert-success:hover{
            background-color: rgba(7, 149, 66, 0.35);
            transition:0.5s;
        }
        .alert-simple.alert-info
        {
            border: 1px solid rgba(6, 44, 241, 0.46);
            background-color: rgba(7, 73, 149, 0.12156862745098039);
            box-shadow: 0px 0px 2px #0396ff;
            color: #0396ff;
            /*text-shadow: 2px 1px #00040a;*/
            transition:0.5s;
            cursor:pointer;
        }

        .alert-info:hover
        {
            background-color: rgba(7, 73, 149, 0.35);
            transition:0.5s;
        }

        .blue-cross
        {
            font-size: 18px;
            color: #0bd2ff;
            text-shadow: none;
        }

        .alert-simple.alert-warning
        {
            border: 1px solid red;
            background-color: rgba(220, 128, 1, 0.16);
            box-shadow: 0px 0px 2px #ffb103;
            color: red;
            /*text-shadow: 2px 1px #00040a;*/
            transition:0.5s;
            cursor:pointer;
        }

        .alert-warning:hover{
            background-color: rgba(220, 128, 1, 0.33);
            transition:0.5s;
        }

        .warning
        {
            font-size: 18px;
            color: #ffb40b;
            text-shadow: none;
        }

        .alert-simple.alert-danger
        {
            border: 1px solid rgba(241, 6, 6, 0.81);
            background-color: rgba(220, 17, 1, 0.16);
            box-shadow: 0px 0px 2px #ff0303;
            color: #ff0303;
            text-shadow: 2px 1px #00040a;
            transition:0.5s;
            cursor:pointer;
        }

        .alert-danger:hover
        {
            background-color: rgba(220, 17, 1, 0.33);
            transition:0.5s;
        }

        .danger
        {
            font-size: 18px;
            color: #ff0303;
            text-shadow: none;
        }

        .alert-simple.alert-primary
        {
            border: 1px solid rgba(6, 241, 226, 0.81);
            background-color: rgba(1, 204, 220, 0.16);
            box-shadow: 0px 0px 2px #03fff5;
            color: #03d0ff;
            text-shadow: 2px 1px #00040a;
            transition:0.5s;
            cursor:pointer;
        }

        .alert-primary:hover{
            background-color: rgba(1, 204, 220, 0.33);
            transition:0.5s;
        }

        .alertprimary
        {
            font-size: 18px;
            color: #03d0ff;
            text-shadow: none;
        }

        .square_box {
            position: absolute;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            border-top-left-radius: 45px;
            opacity: 0.302;
        }

        .square_box.box_three {
            background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
            background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
            background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
            opacity: 0.059;
            left: -80px;
            top: -60px;
            width: 500px;
            height: 500px;
            border-radius: 45px;
        }

        .square_box.box_four {
            background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
            background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
            background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
            opacity: 0.059;
            left: 150px;
            top: -25px;
            width: 550px;
            height: 550px;
            border-radius: 45px;
        }

        .alert:before {
            content: '';
            position: absolute;
            width: 0;
            height: calc(100% - 44px);
            border-left: 1px solid;
            border-right: 2px solid;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            left: 0;
            top: 50%;
            transform: translate(0,-50%);
            height: 20px;
        }

        .fa-times
        {
            -webkit-animation: blink-1 2s infinite both;
            animation: blink-1 2s infinite both;
        }


        /**
         * ----------------------------------------
         * animation blink-1
         * ----------------------------------------
         */
        @-webkit-keyframes blink-1 {
            0%,
            50%,
            100% {
                opacity: 1;
            }
            25%,
            75% {
                opacity: 0;
            }
        }
        @keyframes blink-1 {
            0%,
            50%,
            100% {
                opacity: 1;
            }
            25%,
            75% {
                opacity: 0;
            }
        }

    </style>
</head>
<body>

<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header">
    <div class="app-header header-shadow">
        <div class="app-header__logo">
            <a href="/admin_answer"> <div class="logo-src"></div></a>
            <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
        </div>    <div class="app-header__content">
            <div class="app-header-left">
                <div class="search-wrapper">
                    <div class="input-holder">
                        <input type="text" class="search-input" placeholder="Type to search">
                        <button class="search-icon"><span></span></button>
                    </div>
                    <button class="close"></button>
                </div>
                <ul class="header-menu nav">
                    <li class="nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            <i class="nav-link-icon fa fa-database"> </i>
                            Statistics
                        </a>
                    </li>
                    <li class="btn-group nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            <i class="nav-link-icon fa fa-edit"></i>
                            Projects
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a href="javascript:void(0);" class="nav-link">
                            <i class="nav-link-icon fa fa-cog"></i>
                            Settings
                        </a>
                    </li>
                </ul>        </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                        <img width="42" class="rounded-circle" id="admin_img" src="" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true" class="dropdown-menu dropdown-menu-right">
                                        <button type="button" tabindex="0" class="dropdown-item">User Account</button>
                                        <button type="button" tabindex="0" class="dropdown-item">Settings</button>
                                        <h6 tabindex="-1" class="dropdown-header">Header</h6>
                                        <button type="button" tabindex="0" class="dropdown-item">Actions</button>
                                        <div tabindex="-1" class="dropdown-divider"></div>
                                        <button type="button" tabindex="0" class="dropdown-item" id="logoff">退出登录</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    <span id="adminName"><%=admin%></span>
                                </div>
                                <div class="widget-subheading">
                                    Position Descrption
                                </div>
                            </div>
                            <div class="widget-content-right header-user-info ml-3">
                                <button type="button" class="btn-shadow p-1 btn btn-primary btn-sm show-toastr-example">
                                    <i class="fa text-white fa-calendar pr-1 pl-1"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>        </div>
        </div>
    </div>        <div class="ui-theme-settings">

        <div class="theme-settings__inner">
            <div class="scrollbar-container">

            </div>
        </div>
    </div>        <div class="app-main">
        <div class="app-sidebar sidebar-shadow">
            <div class="app-header__logo">
                <div class="logo-src"></div>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                        <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                            </button>
                        </span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu">
                        <li class="app-sidebar__heading"></li>
                        <li>
                            <a href="/updateProduct" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                产品更新
                            </a>
                        </li>
                        <li>
                            <a href="/editProduct" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                产品编辑
                            </a>
                        </li>
                        <li>
                            <a href="/indexLc" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                用户首页聊天
                            </a>
                        </li>

                        <li>
                            <a href="/admin_Product_Questions" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                回复产品问题
                            </a>
                        </li>

                        <li>
                            <a href="/admin_customer_queries" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                回复用户咨询
                            </a>
                        </li>

                        <li>
                            <a href="/admin_quotes_anonymous" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                回复匿名询价
                            </a>
                        </li>

                        <li>
                            <a href="/admin_quotes" class="mm-active">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                回复电子邮件询价
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>    <div class="app-main__outer">
            <div class="app-main__inner">

                <div class="notification_container">
                    <div>
                        <form action="/update_product" enctype="multipart/form-data" id="newPdSubmit" method="post">
                            <div class="update-gap">
                                <span  class="s1">产品大类</span>
                                <select name="pd1" id="pd1" class="s2 form-control">
                                    <% pd1.forEach(function(d){%>
                                    <option><%=d.des%></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div class="update-gap">
                                <span class="s1">产品次级类</span>
                                <select name="pd2" id="pd2" class="s2 form-control">
                                    <% pd2.forEach(function(d){%>
                                    <option class="pd2Opt"><%=d.des%></option>
                                    <% }) %>
                                </select>
                            </div>
                            <div>
                                <div class="update-gap">
                                    <span class="s1">产品名称</span>
                                    <input type="text" id="newPdName" name="newPdName" class="s2" />
                                </div>
                                <div class="update-gap">
                                    <span class="s1 s3">产品信息</span>
<!--                                    <input type="text" id="newPdInfo" name="newPdInfo"/>-->
                                    <textarea id="newPdInfo" name="newPdInfo" class="s2 form-control">

                                    </textarea>
                                </div>
                                <div class="update-gap">
                                    <span class="s1 s3">产品描述</span>
<!--                                    <input type="text" id="newPdDes" name="newPdDes"/>-->
                                    <textarea id="newPdDes" name="newPdDes" class="s2 form-control">

                                    </textarea>
                                </div>
                                <div class="update-gap">
                                    <span class="s1 s3">产品特色</span>
<!--                                    <input type="text" id="newPdFeature" name="newPdFeature"/>-->
                                    <textarea id="newPdFeature" name="newPdFeature" class="s2 form-control">

                                    </textarea>
                                </div>
                                <div>
                                    <div class="update-gap s5" >
                                        <span class="s1"><b style="font-size:16px;">产品详细规格</b></span>
                                    </div>
                                    <div class="update-gap s6">
                                        <span class="s1">Part Number:</span>

                                        <input type="text" id="newPdPtNo" name="newPdPtNo" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Connector Type & Polish:</span>
                                        <input type="text" id="newPdCtype" name="newPdCtype" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Fiber Type:</span>
                                        <input type="text" id="newPdFiberType" name="newPdFiberType" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Compatible Cable Type:</span>
                                        <input type="text" id="newPdCabType" name="newPdCabType" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Wavelength:</span>
                                        <input type="text" id="newPdWavelength" name="newPdWavelength" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Insertion Loss:</span>
                                        <input type="text" id="newPdInserLoss" name="newPdInserLoss" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Return Loss:</span>
                                        <input type="text" id="newPdReturnLoss" name="newPdReturnLoss" class="s2 form-control" />
                                    </div>
                                    <div class="update-gap">
                                        <span class="s1">Bare Fiber Fastening Strength:</span>
                                        <input type="text" id="newPdBareFibStr" name="newPdBareFibStr" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Tensile Strength:</span>
                                        <input type="text" id="newPdTensStr" name="newPdTensStr" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Operating Temperature:</span>
                                        <input type="text" id="newPdOpTemp" name="newPdOpTemp" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Success Rate:</span>
                                        <input type="text" id="newPdSuccRat" name="newPdSuccRat" class="s2 form-control" />
                                    </div>

                                    <div class="update-gap">
                                        <span class="s1">Standard:</span>
                                        <input type="text" id="newPdStandard" name="newPdStandard" class="s2 form-control" />
                                    </div>


                                    <div class="update-gap">
                                        <span class="s1">Price:</span>
                                        <input type="text" id="newPdPrice" name="newPdPrice" class="s2 form-control" />
                                    </div>

                                </div>
                                <div>
                                    <span class="s1">上传产品图片</span>
                                    <input type="file" id="newPdImg" name="newPdImg" class="s2 form-control" />
                                </div>
                            </div>
                            <button id="submit" class="btn btn-primary btn-lg">上传</button>
                        </form>

                    </div>
                    <div class="col-sm-12 admin_echo_pop">
                        <div class="alert fade alert-simple alert-info alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                            <button type="button" class="close font__size-18" data-dismiss="alert">
									<span aria-hidden="true">
										<i class="fa fa-times blue-cross"></i>
									</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <i class="start-icon  fa fa-info-circle faa-shake animated"></i>
                            <span class="font__weight-semibold admin_echo_popContents">   </span>
                        </div>

                    </div>
                    <div class="col-sm-12 admin_echo_close">
                        <div class="alert fade alert-simple alert-warning alert-dismissible text-left font__family-montserrat font__size-16 font__weight-light brk-library-rendered rendered show" role="alert" data-brk-library="component__alert">
                            <button type="button" class="close font__size-18" data-dismiss="alert">
                                <span aria-hidden="true">
                                    <i class="fa fa-times warning">
                                    </i>
                                </span>
                                <span class="sr-only">
                                    Close
                                </span>
                            </button>
                            <i class="start-icon fa fa-exclamation-triangle faa-flash animated">
                            </i>
                            <span class="font__weight-semibold admin_echo_closeSession">

                            </span>
                        </div>
                    </div>
                </div>








            </div>

        </div>

    </div>
</div>

<script>
    $(document).ready(function (e) {

        // let totalSubPdMenu = [];

        $("#pd1").bind("change",switchSubPdMenu);
        
        function switchSubPdMenu(e) {
            let SubPdMenuBoundaryFt;
            let SubPdMenuBoundaryEd;
            let index = e.target.selectedIndex;
            switch (index){
                case 0:
                    SubPdMenuBoundaryEd = 0;
                    SubPdMenuBoundaryFt = 5;
                    break;
                case 1:
                    SubPdMenuBoundaryEd = 6;
                    SubPdMenuBoundaryFt = 14;
                    break;
                case 2:
                    SubPdMenuBoundaryEd = 15;
                    SubPdMenuBoundaryFt = 20;
                    break;
                case 3:
                    SubPdMenuBoundaryEd = 21;
                    SubPdMenuBoundaryFt = 32;
                    break;
                case 4:
                    SubPdMenuBoundaryEd = 33;
                    SubPdMenuBoundaryFt = 37;
                    break;
                case 5:
                    SubPdMenuBoundaryEd = 38;
                    SubPdMenuBoundaryFt = 40;
                    break;
                case 6:
                    SubPdMenuBoundaryEd = 41;
                    SubPdMenuBoundaryFt = 46;
                    break;
                case 7:
                    SubPdMenuBoundaryEd = 47;
                    SubPdMenuBoundaryFt = 52;
                    break;
            };


            $(".pd2Opt").each(function(i, v){
                if(i >= SubPdMenuBoundaryEd && i <= SubPdMenuBoundaryFt){
                    $(v).show();
                    $("#pd2").val('');
                } else{
                    $(v).hide();
                }
            });
        }


        // function getTotalSubPdMenu(){
        //      $(".pd2Opt").each(function (i, v) {
        //          totalSubPdMenu.push(v);
        //      });
        //
        // }
        // getTotalSubPdMenu();

        function initSubPdMenu(){
            $(".pd2Opt").each(function(i, v){
                if(i > 5){
                    $(v).hide();
                }
            });
        }
        initSubPdMenu();

        $("#submit").bind("click",function (e){
            let newPdName = $("#newPdName").val();
            let newPdInfo = $("#newPdInfo").val();
            let newPdDes = $("#newPdDes").val();
            let newPdFeature = $("#newPdFeature").val();
            // these four value must not be null;
            if(!newPdName){
                alert("产品名称不能为空");
            }
            if(!newPdInfo){
                alert("产品基本信息不能为空");
            }
            if(!newPdDes){
                alert("产品描述不能为空");
            }
            if(!newPdFeature){
                alert("产品特色不能为空");
            }
            document.getElementById("newPdSubmit").submit();
        });
    })
</script>
</body>

</html>