<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <title>YOGEL</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="javascripts/utility_fte.js"></script>
    <script type="text/javascript"  src="../javascripts/vueself.js"></script>
</head>
<link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" />

<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/want_go_buy.css" />
<link rel="stylesheet" href="../stylesheets/public_account.css" />
<link rel="stylesheet" href="../stylesheets/account_center_new.css" />

<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<script>
    $(document).ready(function(){
        utility_fte.initHeaderBav();
    })
</script>
<!--top-->
<%- include('partials/top.ejs') %>

<!-- 导航、搜索 -->
<%- include('partials/header.ejs') %>

<div id="app">
    <div class="box">
    <div class="remove_bg">
    </div>
    <div class="content  ">
        <div class="fs_account_container">
            <div class="fs_account_widht">
                <div class="fs_account_public_head">
                    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList" class="breadcrumbs after">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
                            class="alone_a">
                            <a itemprop="item" href="/">
								<span itemprop="name">
									Home
								</span>
                            </a>
                            <meta itemprop="position" content="1">
                            <span class="divider">
								<i class="iconfont icon">
									/
								</i>
							</span>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem"
                            class="alone_a active">
							<span itemprop="name">
								My Account
							</span>
                            <meta itemprop="position" content="2">
                        </li>
                    </ul>
                    <h2 class="fs_account_head_tit">
                        My Account
                        <i class="iconfont icon fs_account_head_search">
                            
                        </i>
                    </h2>
                </div>
                <div class="fs_account_public_content">
                    <div class="fs_account_public_content_left">
                        <div class="fs_account_public_menu_dl_container active choose">
                            <h3 class="fs_account_public_menu_tit">
                                My Account
                                <i class="iconfont icon">
                                    
                                </i>
                            </h3>
                            <dl class="fs_account_public_menu_dl">
                                <dt>
                                    <i class="iconfont icon">
                                        
                                    </i>
                                    Orders
                                </dt>
                                <dd>
                                    <ul class="fs_account_public_menu_ul">
                                        <li>
                                            <a href="/order_history">
                                                Order History
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>

                                    </ul>
                                </dd>
                            </dl>
                            <dl class="fs_account_public_menu_dl">
                                <dt>
                                    <i class="iconfont icon">
                                        
                                    </i>
                                    Quotes
                                </dt>
                                <dd>
                                    <ul class="fs_account_public_menu_ul">
                                        <li>
                                            <a href="/quoteHistory">
                                                Quote History
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="fs_account_public_menu_dl">
                                <dt class="checkout_isShowGuid">
                                    <i class="iconfont icon">
                                        
                                    </i>
                                    Bills
                                </dt>
                                <dd>
                                    <ul class="fs_account_public_menu_ul">
                                        <li>
                                            <a href="https://www.fs.com/index.php?main_page=billing">
                                                View Bill Details
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>
                                    </ul>
                                </dd>
                            </dl>
                            <dl class="fs_account_public_menu_dl">
                                <dt>
                                    <i class="iconfont icon">
                                        
                                    </i>
                                    Account Settings
                                </dt>
                                <dd>
                                    <ul class="fs_account_public_menu_ul">
                                        <li>
                                            <a href="https://www.fs.com/index.php?main_page=edit_my_account">
                                                Account Settings
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/my_dashboard_addressbook">
                                                Address Book
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>

                                    </ul>
                                </dd>
                            </dl>
                            <dl class="fs_account_public_menu_dl">
                                <dt>
                                    <i class="iconfont icon">
                                        
                                    </i>
                                    Useful Tools
                                </dt>
                                <dd>
                                    <ul class="fs_account_public_menu_ul">
                                        <li>
                                            <a href="/cart">
                                                Saved Carts
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/requestSample">
                                                Request a Sample
                                                <i class="iconfont icon">
                                                    
                                                </i>
                                            </a>
                                        </li>

                                    </ul>
                                </dd>
                            </dl>

                        </div>
                    </div>
                    <div class="fs_account_public_content_right">

                        <div class="fs_account_information_container no_accounting_period">
                            <div class="fs_account_information_div fs_account_information_left">
                                <h3 class="fs_account_information_tit after">
                                    Account Settings
                                    <a href="/edit_my_account">
                                        <i class="iconfont icon">
                                            
                                        </i>
                                    </a>
                                </h3>
                                <div class="fs_account_information_bottom">
                                    <p class="fs_account_information_txt">
                                        Account #:
                                        <span>
											{{mail}}
										</span>
                                    </p>
                                    <p class="fs_account_information_txt">
                                        Name:
                                        <span>
											{{name.lastName}} {{name.firstName}}
										</span>
                                    </p>
                                    <p class="fs_account_information_txt">
                                        E-mail:
                                        <span>
											{{mail}}
										</span>
                                    </p>
                                </div>
                            </div>

                            <div class="fs_account_information_div fs_account_information_right">
                                <h3 class="fs_account_information_tit after">
                                    Bills
                                    <a href="https://www.fs.com/index.php?main_page=billing">
                                        <i class="iconfont icon">
                                            
                                        </i>
                                    </a>
                                </h3>
                                <div class="fs_account_information_bottom">
                                    <p class="fs_bills_tit">
                                        Jun 2021
                                    </p>
                                    <div class="fs_bills_flex">
                                        <div class="fs_bills_home_public">
											<span>
												Numbers of Invoices :
											</span>
                                            <span>
												Total Invoice Amount :
											</span>
                                        </div>
                                        <div class="fs_bills_home_public fs_bills_price">
											<span>
												0
											</span>
                                            <span>
												US$&nbsp;0.00
											</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fs_public_home_module">

                            <h3 class="fs_public_home_module_tit after">
                                Recent Orders
                                <a class="fs_public_a" href="https://www.fs.com/index.php?main_page=manage_orders">
									<span>
										View All Orders
									</span>
                                    <i class="iconfont icon">
                                        
                                    </i>
                                </a>
                            </h3>
                            <div class="fs_account_home_search">
                                <div class="fs_public_input_search">
                                    <form action="https://www.fs.com/index.php?main_page=manage_orders" method="get"
                                          id="order_search_form">
                                        <input type="hidden" name="main_page" value="manage_orders">
                                        <input name="search" class="fs_public_input account_alone_input" id="order_search_key"
                                               placeholder="Order #, PO #, Item #, P/N, Comments..." type="text">
                                        <a class="fs_public_search_a" id="order_search_submit" href="javascript:;">
                                            <i class="iconfont icon">
                                                
                                            </i>
                                        </a>
                                    </form>
                                </div>
                            </div>
                            <div class="fs_account_tab_container">
                                <div class="fs_account_tab_ul_overflow">
                                    <ul class="fs_account_tab_ul after">
                                        <li class="active" tag="pending">
                                            Pending Payment
                                        </li>
                                        <li tag="shipping">
                                            Wait For Shipping
                                        </li>
                                        <li tag="transit">
                                            In Transit
                                        </li>
                                        <li tag="completed">
                                            Delivered
                                        </li>
                                        <li tag="completed">
                                            Pending Review
                                        </li>
                                    </ul>
                                    <span class="home_compati" style="left: 39.294px;">
									</span>
                                </div>
                                <div class="fs_account_order_container" id="recentOrder">
                                    <div class="RMA_empty">
                                        <p class="empty_tit">
                                            No Orders Found.
                                        </p>
                                        <a class="fs_account_btn account_gray" href="/">
                                            Start Shopping
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="fs_public_home_module">
                            <h3 class="fs_public_home_module_tit after">
                                Recent Quotes
                                <a class="fs_public_a" href="https://www.fs.com/index.php?main_page=quotes_list&amp;click_type=19">
									<span>
										View All Quotes
									</span>
                                    <i class="iconfont icon">
                                        
                                    </i>
                                </a>
                            </h3>
                            <div class="fs_account_home_search">
                                <div class="fs_public_input_search">
                                    <input class="fs_public_input" id="number_input" placeholder="Quote #, Item #"
                                           type="text">
                                    <a class="fs_public_search_a search_number" href="javascript:;">
                                        <i class="iconfont icon">
                                            
                                        </i>
                                    </a>
                                </div>
                            </div>
                            <div class="fs_account_tab_container">
                                <div class="RMA_empty">
                                    <p class="empty_tit">
                                        No Quotes Found.
                                    </p>
                                    <a class="fs_account_btn account_gray" href="/cart">
                                        View Cart
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="ui-widget-overlay" id="fs_overlay">
        </div>
        <div class="login_loading_bg" id="fs_loading_bg" style="z-index:10000000;">
        </div>
        <div id="fs_loading" class="processing processing_carr" style="display:none;z-index:10000001;">
            <div class="spinWrap">
                <div id="loader_order_alone" class="loader_order">
                    <svg class="circular" viewBox="25 25 50 50">
                        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                stroke-miterlimit="10">
                        </circle>
                    </svg>
                </div>
            </div>
        </div>
        <div class="new_popup addCart Clearance" id="ProductsAttributes" style="display:none">
            <div class="new_popup_main popup_width680 change_poput_width750 pupop_video">
                <h2 class="new_popup_addCart_tit new_popup_changeTit01">
                    <div class="addCrat_item_number">
						<span class="addCrat_item_numberTit">
							Confirm
						</span>
                    </div>
                    <span class="icon iconfont" onclick="hide_reorder_window()">
						
					</span>
                </h2>
                <div class="addCrat_item_listMain01">
                    <div class="new_popup_content addCart_cont">
                        <div class="addCrat_item_list" id="addproductsinfo">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>






        <script>
            var case_valide = {
                "rules": {
                    "service_type": {
                        "required": true
                    },
                    "question_content": {
                        "required": true
                    }
                },
                "messages": {
                    "service_type": {
                        "required": "Please choose the service type."
                    },
                    "question_content": {
                        "required": "Please describe your questions so that we can handle your request quicker."
                    }
                }
            };
            $('.fs_account_tab_ul li').click(function() {
                var status = 1;
                if ($(this).hasClass("active")) {
                    status = 0;
                }
                $(this).addClass('active').siblings('li').removeClass('active');
                var width = ($(this).width() - 40) / 2;
                var left = ($(this).offset().left - $('.fs_account_tab_ul_overflow').offset().left + width) + 'px';
                $('.home_compati').css('left', left);

                var type = $(this).attr("tag");
                if (status) {
                    showMoreOrders(type, 1);
                }
            })

            if ($(window).width() > 960) {
                var fs_this = $('.fs_account_tab_ul li').eq(0);
                var fs_account_width = (fs_this.width() - 40) / 2;
                var fs_account_left = (fs_this.offset().left - $('.fs_account_tab_ul_overflow').offset().left + fs_account_width) + 'px';
                $('.home_compati').css('left', fs_account_left);
            }




        </script>
        <div class="ccc">
        </div>
    </div>
    <div class="ccc">
    </div>
</div>
</div>
<script>
    const app = new Vue({
        el:"#app",
        data:{
            mail:'',
            name:''
        },
        methods:{

        },
        created(){
            const that = this;
            $.ajax({
                url: "/get_Acct_data",
                dataType: "json",
                success: function (d) {
                    if(d.code == 1){
                        that.mail = d.data.mail;
                        that.name = (d.data.name)[0];
                    }
                }
            });

        },
        mounted(){

        }
    });
</script>

<script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->
<%- include('partials/footer.ejs') %>
</body>
</html>