<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <script type="text/javascript"  src="javascripts/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="stylesheets/public.css" />
    <link rel="stylesheet" href="stylesheets/iconfont.css" />
    <link rel="stylesheet" href="stylesheets/backstage.css" />
    <link rel="stylesheet" href="stylesheets/login_register.css" />
    <link rel="stylesheet" href="stylesheets/public.css" />

    <title>Reset password - Yogel</title>


    <style>@font-face{font-family:'Open Sans';font-style:normal;font-weight:400;src:url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2);src:local('Open Sans'),local('OpenSans'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans.woff2) format('woff2')}@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:local('Open Sans Light'),local('OpenSans-Light'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-light-webfont.woff2) format('woff2');}@font-face{font-family:'Open Sans';font-style:normal;font-weight:600;src:local('opensans semibold webfont'),local('opensans-semibold-webfont'),url(https://img-en.fs.com/includes/templates/fiberstore/images/opensans-semibold-webfont.woff2) format('woff2');font-display: swap}    </style>


    <style>
        .lr_submit{
            background-color:#333399!important;
        }

    </style>

    <script>
        $(document).ready(function(){


            $("#submit_submit").bind("click", function () {
                const newPass = $.trim($("#newPass").val());
                const newPassConfirm = $.trim($("#newPassConfirm").val());
                if(newPass.length <=0 || newPassConfirm.length <= 0){
                    alert("Please enter your new password and confirm it.");
                    return false;
                } else if(newPass !== newPassConfirm){
                    alert("New password doesn't match.");
                    return false;
                }
                else{
                    const mail = $.trim($("#mail").text());
                    $.ajax({
                        url: "/reset_pass_db",
                        dataType: "json",
                        type:"post",
                        data:{
                            mail:mail,
                            newPass:newPass
                        },
                        success: function (d) {
                            if(d.code == 1){
                                alert(d.data);

                            }
                        }
                    });
                }
            });





            // $("#submit_submit").bind("click", function () {
            //     const mail = $.trim($("#loginEmailAddress").val());
            //     if(mail.length <= 0){
            //         alert("Please enter your mail");
            //     }else{
            //         $.ajax({
            //             url: "/reset_password",
            //             dataType: "json",
            //             type:"post",
            //             data:{
            //                 mail:mail
            //             },
            //             success: function (d) {
            //                 if(d.code == 1){
            //                     alert(d.data);
            //                 }
            //             }
            //         });
            //     }
            // });

        })
    </script>


</head>

<body >


<div class="lr_box lr_third_bigBox">
    <div class="lr_logo">
        <a href="/"></a>
        <span class="lr_logo_line"></span>
        <h2 class="lr_main_tit">Reset My Password</h2>
    </div>
    <div class="lr_main after" id="lr_third_resetbox">
        <div class="lr_left">
            <div class="lr_left_main">
                <div class="lr_third_tit">Please reset your password.</div>
                <div class="input_block lr_third_inputBox">
                    <h2 class="lr_left_main_tit email_tit">New Password</h2>
                    <input type="password" class="lr_ipt" id="newPass"  name="newPass">
                    <h2 class="lr_left_main_tit email_tit" style="margin-top:15px;">Confirm New Password</h2>
                    <input type="password" class="lr_ipt" id="newPassConfirm"  name="newPassConfirm" >
                    <p class="error_prompt" style="display: none;" id="forgotten_password">Please enter your email address</p>
                    <span id="mail" style="display: none;"><%=mail%></span>
                </div>
                <div class="login-guest-btnBox login-third-btnBox">
                    <button type="submit" class="lr_submit" id="submit_submit">Submit</button>
                </div>
            </div>
        </div>
        <div class="lr_right">
            <h2 class="lr_thirdMain_tit">You can also:</h2>
            <p class="lr_thirdRt_txt"><a href="/regist">Create a new account</a></p>
            <p class="lr_thirdRt_txt"><a href="https://www.fs.com/contact_us.html">Contact Us</a></p>
        </div>
    </div>
    <div class="lr_footer" id="pc_footer">

        <p class="lr_footer_font">
            Need help?&nbsp;
        </p>
        <p class="lr_footer_font_new">
            <a href="/contact_us.html" target="_blank">Contact Customer Support.</a>
        </p>

    </div>
</div>

<script>
    (function(){

        let winbox;

        window.examples = {

            "basic": function(){

                new WinBox("Basic Window");
            },
            "root": function(){

                new WinBox("Custom Root", {

                    root: document.body
                });
            },
            "border": function(){

                new WinBox("Custom Border", {

                    border: "0.3em"
                });
            },
            "color": function(){

                new WinBox({

                    title: "Custom Color",
                    background: "#ff005d",
                    border: 4
                });
            },
            "viewport": function(){

                new WinBox("Limit Viewport", {

                    top: 50,
                    right: 50,
                    bottom: 0,
                    left: 50
                });
            },
            "splitscreen": function(){

                new WinBox("Splitscreen (Left)", {

                    right: "50%",
                    max: true
                });

                new WinBox("Splitscreen (Right)", {

                    x: "100%",
                    left: "50%",
                    max: true
                });
            },
            "position": function(){

                new WinBox({

                    title: "Custom Position / Size",
                    x: "center",
                    y: "center",
                    width: "50%",
                    height: "50%"
                });
            },
            "modal": function(){

                new WinBox("Modal Window", {

                    modal: true
                });
            },
            "innerhtml": function(){

                new WinBox({

                    title: "Set innerHTML",
                    html: "<h1>Lorem Ipsum</h1>"
                });
            },
            "mount-clone": function(){

                new WinBox("Mount DOM", {

                    mount: document.getElementById("content")
                        .cloneNode(true)
                });
            },
            "mount-auto": function(){

                new WinBox("Mount DOM", {

                    mount: document.getElementById("content")
                });
            },
            "iframe": function(){

                new WinBox("WinBox.js", {

                    url: "https://nextapps-de.github.io/winbox/",
                    class: "iframe"
                });
            },
            "all-options": function(){

                new WinBox({

                    id: "my-window",
                    class: ["no-full", "my-theme"],
                    root: document.body,
                    title: "All Options",
                    background: "#fff",
                    border: 4,
                    index: 50,
                    width: 200,
                    height: 200,
                    minheight: 100,
                    minwidth: 100,
                    x: "center",
                    y: "center",
                    max: false,
                    splitscreen: true,
                    top: 50,
                    right: 50,
                    bottom: 0,
                    left: 50,
                    html: "width: 200, height: 200",
                    onfocus: function(){
                        this.setBackground("#fff");
                    },
                    onblur: function(){
                        this.setBackground("#999");
                    },
                    onresize: function(width, height){
                        this.body.textContent = (
                            "width: " + width + ", " +
                            "height: " + height
                        );
                    },
                    onmove: function(x, y){
                        this.body.textContent = (
                            "x: " + x + ", " +
                            "y: " + y
                        );
                    },
                    onclose: function(force){
                        return !confirm("Close window?");
                    }
                });
            },
            "custom-css": function(){

                new WinBox("Custom CSS", {

                    class: "custom",
                    mount: document.getElementById("content")
                        .cloneNode(true)
                });
            },
            "custom-class": function(){

                new WinBox("Custom CSS (Class)", {

                    class: "my-theme",
                    mount: document.getElementById("content")
                        .cloneNode(true)
                });
            },
            "theme-modern": function(){

                new WinBox("Yogel:", {

                    class: "modern",
                    mount: document.getElementById("content")
                        .cloneNode(true)
                });
            },
            "controls": function(){

                winbox = new WinBox("Controls", {

                    mount: document.getElementById("controls"),
                    border: 4,
                    onclose: function(force){
                        return !force && !confirm("Close window?");
                    }
                });
            }
        };

        window.buttons = {

            minimize: function(){

                winbox.minimize();
            },
            maximize: function(){

                winbox.maximize();
            },
            fullscreen: function(){

                winbox.fullscreen();
            },
            center: function(){

                winbox.move("center", "center");
            },
            move: function(){

                winbox.move("right", "bottom");
            },
            resize: function(){

                winbox.resize("50%", "50%");
            },
            title: function(){

                winbox.setTitle("Title-" + Math.random());
            },
            color: function(){

                winbox.setBackground(
                    "rgb(" + (Math.random() * 255 | 0) + "," +
                    (Math.random() * 255 | 0) + "," +
                    (Math.random() * 255 | 0) + ")"
                );
            },
            modal: function(){

                winbox.body.parentNode.classList.toggle("modal");
            },
            add: function(){

                winbox.addClass("my-theme");
            },
            remove: function(){

                winbox.removeClass("my-theme");
            },
            close: function(){

                winbox.close();
            },
            force_close: function () {

                winbox.close(true);
            }
        };

    }());

    hljs.highlightAll();
</script>
<div id="qds" style="display:none;"></div>
<div id="backstore" style="display: none;height: auto;">
    <div id="content" style="height: auto;">
        <div style="color:#000" id="pop"></div>

    </div>
</div>
<script type="text/javascript"  src="javascripts/winbox.min.js"></script>
<script src="../javascripts/popwindow/highlight.min.js"></script>
<script src="../javascripts/popwindow/fixpopwindow.js"></script>
<!--pop window-->
<link rel="stylesheet" href="../stylesheets/railscasts.min.css" />
<link rel="stylesheet" href="../stylesheets/winbox.min.css" />
<link rel="stylesheet" href="../stylesheets/modern.min.css" />
<link rel="stylesheet" href="../stylesheets/white.min.css" />
<link rel="stylesheet" href="../stylesheets/pop.css" />
<!--pop window-->
</body>
</html>
