<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en">
<head>
    <title>YOGEL</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
    <script type="text/javascript"  src="../javascripts/ec.js"></script>
    <script type="text/javascript"  src="../javascripts/jquery-3.5.1.min.js"></script>
    <script type="text/javascript"  src="../javascripts/js_cdn.js"></script>
    <script type="text/javascript"  src="../javascripts/header.js"></script>
    <script type="text/javascript"  src="javascripts/utility_fte.js"></script>


    <script type="text/javascript"  src="javascripts/validator.min.js"></script>
    <!--验证依赖库-->
    <script type="text/javascript"  src="javascripts/validation.js"></script>
    <!--验证-->




    

</head>
<link rel="icon" href="https://img-en.fs.com/images/favicon.ico" type="image/x-icon" /> 
<link rel="shortcut icon" href="../images/logo_vudj.png" type="image/x-icon" /> 

<link rel="stylesheet" href="../stylesheets/iconfont.css" />
<link rel="stylesheet" href="../stylesheets/public.css" />
<link rel="stylesheet" href="../stylesheets/swiper-sweetalert2.css" />
<link rel="stylesheet" href="../stylesheets/css1.css" />
<link rel="stylesheet" href="../stylesheets/backstage.css" />
<link rel="stylesheet" href="../stylesheets/login_register.css" />
<link rel="stylesheet" href="../stylesheets/styles_cn__ltr.css" />


<body ondragstart="return false" data-new-gr-c-s-check-loaded="14.1010.0" data-gr-ext-installed="" style="">
<script>
   $(document).ready(function(){

      $("#submit_regist").bind("click", function(e){

            validation.restoreErrNotice("error_prompt");
            var firsrtname_regist = $.trim($("#firstname_regist").val());
            var lastname_regist = $.trim($("#lastname_regist").val());
            var email_regist = $.trim($("#email_regist").val());
            var password_regist = $.trim($("#password_regist").val());
            var phone_regist = $.trim($("#telephone_regist").val());
            var company_regist = $.trim($("#company_regist").val());// could be null
            if(!validation.validateAllEmpty([
                {value:firsrtname_regist,name:'First Name',className:'firstname_regist_error_prompt'},
                {value:lastname_regist,name:'Last Name',className:'lastname_regist_error_prompt'},
                {value:email_regist,name:'Email',className:'mail_regist_error_prompt'},
                {value:password_regist,name:'Password',className:'password_regist_error_prompt'}
            ])){
             return false;
            }


          // if(validation.isEmpty(firsrtname_regist)){
          //   const errMsg = validation.EmptyNotcie("First Name");
          //   $(".firstname_regist_error_prompt").text(errMsg);
          //   $(".firstname_regist_error_prompt").show();
          //
          // }
          // if(validation.isEmpty(lastname_regist)){
          //     const errMsg = validation.EmptyNotcie("Last Name");
          //     $(".lastname_regist_error_prompt").text(errMsg);
          //     $(".lastname_regist_error_prompt").show();
          // }
          // if(validation.isEmpty(email_regist)){
          //     const errMsg = validation.EmptyNotcie("Email");
          //     $(".mail_regist_error_prompt").text(errMsg);
          //     $(".mail_regist_error_prompt").show();
          // }
          // if(validation.isEmpty(password_regist)){
          //     const errMsg = validation.EmptyNotcie("Password");
          //     $(".password_regist_error_prompt").text(errMsg);
          //     $(".password_regist_error_prompt").show();
          // }
          
        $.ajax({
                url: "/user_regist",
                data: {
                  firsrtname_regist:firsrtname_regist,
                  lastname_regist:lastname_regist,
                  email_regist:email_regist,
                  password_regist:password_regist,
                  phone_regist:phone_regist,
                  company_regist:company_regist,
                },
                type: "POST",
                dataType: "json",
                success: function (d) {
                  if(d.isRegistSuccess == 1){
                 
                    window.examples['theme-modern']();
                    fixPop();
                    givePopVal("Register success, redicting to home page in 3 seconds...");
                    //all things you need to do with pop window.
            
                    setTimeout("window.location.href='/';", 3000);
                   
                  }

                }
            });
      });
       utility_fte.initHeaderBav();
   })
</script>
<!--top-->
<%- include('partials/top.ejs') %>

<div class="lr_box">
    <div class="lr_main after">
        <div class="lr_left">
            <div class="lr_logo">
                <a href="https://www.fs.com/"></a>
                <span class="lr_logo_line"></span>
                <h2 class="lr_main_tit register">Create an account</h2>
            </div>
            <div class="lr_left_main">
                <p class="tishi_02 display_none" id="server_tip"><span></span></p>
                <div id="form_regist" name="form_regist" method="post" novalidate="novalidate">
                    <input type="hidden" name="securityToken" value="33b0efbf2ef9c41f1a4f3e3d9c9e9690">                    <div class="lr_left_main_name input-block">
                        <div class="lr_left_main_name_firstname">
                            <h2 class="lr_left_main_tit">First Name</h2>
                            <input type="text" class="lr_ipt" id="firstname_regist" name="firstname">
							<p class="error_prompt firstname_regist_error_prompt" style="display: none;"></p>
                        </div>
                        <div class="lr_left_main_name_lastname">
                            <h2 class="lr_left_main_tit">Last Name</h2>
                            <input type="text" class="lr_ipt" id="lastname_regist" name="lastname">
							<p class="error_prompt lastname_regist_error_prompt" style="display: none;"></p>
                        </div>
                    </div>
                    <div class="input-block">
                        <h2 class="lr_left_main_tit">Email Address</h2>
                        <input type="text" class="lr_ipt" onkeyup="this.value=this.value.replace(/[, ]/g,'')" name="email" id="email_regist" value="">
                        <p class="error_prompt mail_regist_error_prompt" style="display: none;"></p>
                    </div>
                    <h2 class="lr_left_main_tit">Password</h2>
                    <div class="lr_password input-block">
                        <input type="password" class="lr_ipt" autocomplete="off" name="password" id="password_regist">
                        <p class="error_prompt password_regist_error_prompt" style="display: none;"></p>
                        <span class="lr_password_show_hide" id="show_hide_pwd">show</span>
                    </div>
            
                    <h2 class="lr_left_main_tit">Phone Number</h2>
                    <div class="input-block" style="position: relative">
                        <span id="tel_prefix_phone_regist">+1</span>
                        <input type="text" class="lr_ipt" name="phone_number" id="telephone_regist" value="">
                        <p class="error_prompt" style="display: none;"></p>
                    </div>
                    <div class="input-block">
                        <h2 class="lr_left_main_tit">Company Name                            <span style="color: #8D8D8F">
                         </span></h2>
                        <input type="text" class="lr_ipt" name="customers_company" id="company_regist" value="">
                        <p class="error_prompt" style="display: none;"></p>
                    </div>



                    <div class="input-block rem_container_privacy_policy">
                        <span class="fl fl_privacy_policy">
                            <i class="iconfont icon active"></i>
                             I agree to YOGEL's <a href="https://www.fs.com/policies/privacy_policy.html" target="_blank">Privacy Policy</a> and <a href="https://www.fs.com/policies/terms_of_use.html" target="_blank">Terms of Use</a>.						</span>
                        <input type="checkbox" style="position:absolute; height:0; width:0; border:0;" name="privacy_policy" value="1" id="privacy_policy" checked="">
                        <p class="error_prompt" id="privacy_policy_error_prompt" style="display: none;"></p>
                    </div>

                    <input type="hidden" name="from" id="from_regist" value="">
                    <div class="register-submit-box">
                        <button style="background-color: #333399; border:solid 1px #333399;" class="lr_submit g-recaptcha"  id="submit_regist" >Create an account</button>
                    </div>

                  </div>
            </div>
        </div>
        <div class="lr_right">
            <h2 class="lr_right_tit">Benefits of FS Account</h2>
            <div class="lr_right_main">
                <ul class="lr_right_main_ul">
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register01.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">Checkout quickly and easily</p>
                    </li>
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register02.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">View order history and track shipping status</p>
                    </li>
                </ul>
                <ul class="lr_right_main_ul">
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register04.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">Get quotes or submit a purchase order efficiently</p>
                    </li>
                    <li>
                        <div class="lr_right_main_pic">
                            <img src="https://img-en.fs.com/includes/templates/fiberstore/images/login_register/login_register03.svg" alt="">
                        </div>
                        <p class="lr_right_main_font">Get technical support and solution design</p>
                    </li>
                </ul>
                <p class="lr_right_main_href">
                    Already have an account? <a href="/login">Sign in</a></p>
            </div>

            <!--<p class="lr_right_font small"></p>
            <a class="lr_right_href small" href="" ></a>-->
        </div>
    </div>
    <div class="lr_footer">
 
    <p class="lr_footer_font">
        Need help?&nbsp;
    </p><p class="lr_footer_font_new">
        <a href="/contact_us.html" target="_blank">Contact Customer Support.</a>
    </p>

    </div>
</div>

</div>
<script type="text/javascript" src="javascripts/footer.js"></script>
<!--footer-->
<%- include('partials/footer.ejs') %>





<div id="backstore" style="display: none;height: auto;">
	<div id="content" style="height: auto;">
        <div style="color:#000" id="pop"></div>
		
	</div>
<script>
    (function(){

let winbox;

window.examples = {

    "basic": function(){

        new WinBox("Basic Window");
    },
    "root": function(){

        new WinBox("Custom Root", {

            root: document.body
        });
    },
    "border": function(){

        new WinBox("Custom Border", {

            border: "0.3em"
        });
    },
    "color": function(){

        new WinBox({

            title: "Custom Color",
            background: "#ff005d",
            border: 4
        });
    },
    "viewport": function(){

        new WinBox("Limit Viewport", {

            top: 50,
            right: 50,
            bottom: 0,
            left: 50
        });
    },
    "splitscreen": function(){

        new WinBox("Splitscreen (Left)", {

            right: "50%",
            max: true
        });

        new WinBox("Splitscreen (Right)", {

            x: "100%",
            left: "50%",
            max: true
        });
    },
    "position": function(){

        new WinBox({

            title: "Custom Position / Size",
            x: "center",
            y: "center",
            width: "50%",
            height: "50%"
        });
    },
    "modal": function(){

        new WinBox("Modal Window", {

            modal: true
        });
    },
    "innerhtml": function(){

        new WinBox({

            title: "Set innerHTML",
            html: "<h1>Lorem Ipsum</h1>"
        });
    },
    "mount-clone": function(){

        new WinBox("Mount DOM", {

            mount: document.getElementById("content")
                           .cloneNode(true)
        });
    },
    "mount-auto": function(){

        new WinBox("Mount DOM", {

            mount: document.getElementById("content")
        });
    },
    "iframe": function(){

        new WinBox("WinBox.js", {

            url: "https://nextapps-de.github.io/winbox/",
            class: "iframe"
        });
    },
    "all-options": function(){

        new WinBox({

            id: "my-window",
            class: ["no-full", "my-theme"],
            root: document.body,
            title: "All Options",
            background: "#fff",
            border: 4,
            index: 50,
            width: 200,
            height: 200,
            minheight: 100,
            minwidth: 100,
            x: "center",
            y: "center",
            max: false,
            splitscreen: true,
            top: 50,
            right: 50,
            bottom: 0,
            left: 50,
            html: "width: 200, height: 200",
            onfocus: function(){
                this.setBackground("#fff");
            },
            onblur: function(){
                this.setBackground("#999");
            },
            onresize: function(width, height){
                this.body.textContent = (
                    "width: " + width + ", " +
                    "height: " + height
                );
            },
            onmove: function(x, y){
                this.body.textContent = (
                    "x: " + x + ", " +
                    "y: " + y
                );
            },
            onclose: function(force){
                return !confirm("Close window?");
            }
        });
    },
    "custom-css": function(){

        new WinBox("Custom CSS", {

            class: "custom",
            mount: document.getElementById("content")
                           .cloneNode(true)
        });
    },
    "custom-class": function(){

        new WinBox("Custom CSS (Class)", {

            class: "my-theme",
            mount: document.getElementById("content")
                           .cloneNode(true)
        });
    },
    "theme-modern": function(){

        new WinBox("Yogel:", {

            class: "modern",
            mount: document.getElementById("content")
                           .cloneNode(true)
        });
    },
    "controls": function(){

        winbox = new WinBox("Controls", {

            mount: document.getElementById("controls"),
            border: 4,
            onclose: function(force){
                return !force && !confirm("Close window?");
            }
        });
    }
};

window.buttons = {

    minimize: function(){

        winbox.minimize();
    },
    maximize: function(){

        winbox.maximize();
    },
    fullscreen: function(){

        winbox.fullscreen();
    },
    center: function(){

        winbox.move("center", "center");
    },
    move: function(){

        winbox.move("right", "bottom");
    },
    resize: function(){

        winbox.resize("50%", "50%");
    },
    title: function(){

        winbox.setTitle("Title-" + Math.random());
    },
    color: function(){

        winbox.setBackground(
            "rgb(" + (Math.random() * 255 | 0) + "," +
                     (Math.random() * 255 | 0) + "," +
                     (Math.random() * 255 | 0) + ")"
        );
    },
    modal: function(){

        winbox.body.parentNode.classList.toggle("modal");
    },
    add: function(){

        winbox.addClass("my-theme");
    },
    remove: function(){

        winbox.removeClass("my-theme");
    },
    close: function(){

        winbox.close();
    },
    force_close: function () {

        winbox.close(true);
    }
};

}());

hljs.highlightAll();
</script>

<script type="text/javascript"  src="javascripts/winbox.min.js"></script>

<script type="text/javascript" src="../javascripts/popwindow/highlight.min.js"></script>
<!-- <script type="text/javascript" src="../javascripts/popwindow/popinit.js"></script> -->
<script type="text/javascript" src="../javascripts/popwindow/fixpopwindow.js"></script>
<!--pop window-->
<link rel="stylesheet" href="../stylesheets/railscasts.min.css" />
<link rel="stylesheet" href="../stylesheets/winbox.min.css" />
<link rel="stylesheet" href="../stylesheets/modern.min.css" />
<link rel="stylesheet" href="../stylesheets/white.min.css" />
<link rel="stylesheet" href="../stylesheets/pop.css" />
<!--pop window-->


</body>
</html>